#header{
    padding:20px 0px;
    .header_left{
        ul.menu{
            li{
                padding: 20px;
                a{
                    color: #262626;
                    font-size: 16px;
                    padding: 0;
                    span.sf-sub-indicator{
                        right: -20px;
                        top: 13px;
                    }
                    span.sf-sub-indicator:after{
                        line-height: 0;
                    }
                }
                ul{
                    background: #fff;
                }
                a:hover ,a:focus{
                    color: #C8B374;
                    text-decoration: none;
                }
            }
        }
    }
    .header_center{
        a.logo{
            margin: 0px auto;
            float: none !important;
            display: table;
        }
    }
    .header_right{
        .block-views-exposed-filter-blocksearch-api-page-1{
            width: 70%;
            float: right;
            form{
                position: relative;
                input{
                    width: 100% !important;
                    background-color: transparent;
                    border: 1px solid #262626;
                    box-shadow: none;
                    border-radius: 19px;
                    padding: 0px 30px;                
                }
                .form-actions{
                    position: absolute;
                    top: 2px;
                    left: 10px;
                    button{
                        margin: 0px;
                        font-size: 0px;
                        padding: 0px;
                        background: transparent;
                        border: 0px;
                        span.icon{
                            font-size: 18px;
                            color: #262626;
                            margin: 0px;
                        }
                    }
                }
            }
        } 
        .block-language{
            float: right;
            padding-top: 8px;
            ul{
                padding:0px;
                li{
                    list-style: none;
                    a{
                        color: #262626;
                        font-size: 16px;
                    }
                    a::after{
                        content:"|";
                        padding: 0px 3px;
                    }
                }
                li.is-active{
                    display:none;
                }
            }
        }
    }
}
