/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:37 PM
    Author     : aqasem
*/
@media screen and (max-width: 1199px){
    .front_content_1 .view .views-row .views-field-title a{
        font-size: 24px;
    }
    .front_content_2 .announcement .views-row .views-field-field-date{
        margin-right: 8px;
    }
    .front_content_2 .announcement .views-row .views-field-title a{
        font-size: 14px;
    }
    .front_content_2 .simplenews .simplenews-subscriber-form{
        padding: 0px 20px;
    }
    .front_content_2 .simplenews .simplenews-subscriber-form form .field--type-email input,
    .front_content_2 .simplenews .simplenews-subscriber-form form .form-actions button{
        width: 88%;
    }
    .front_content_4 .right .view .views-row{
        width: 46.2%;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2{
        max-width:650px;
    }
}
@media screen and (max-width: 1025px){
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent{
        top:20px;                
    }
    .sf-accordion-toggle{
        text-align: center;
        padding: 7px 0px;

    }
    .sf-accordion-toggle a{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    .responsive-menus.responsified span.toggler{
        background: #4A4A4A;
        box-shadow: none;
        font-size: 18px;
        position: absolute;
        top: -23px;
        right: 45px;
    }
    .responsive-menus.responsified .responsive-menus-simple{
        background: #4A4A4A;
        box-shadow: none;
    }
    .responsive-menus.responsified .responsive-menus-simple li a{
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }
    .responsive-menus.responsified{
        position: relative;
    }
    header .menu-region #block-mainnavigation ul.menu > li{
        width: 100%;
    }
    header .menu-region #block-mainnavigation ul.menu > li > a, header .menu-region #block-mainnavigation ul.menu > li span{
        border-left:0px;
        border-right:0px;
    }
    header .menu-region{
        clear: both;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent{
        position: relative;
        top: 0;
        padding-top: 20px;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1{
        color:#0083D1;
        font-size: 25px;
        text-align: center;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1::after{
        margin: 0px auto;
        margin-top: 5PX;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2{
        color:#0083D1;
        font-size: 16px;
        text-align: center;
        max-width: 100%;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link a{
        margin: 0px auto;
        margin-top: 15px;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link a{
        width:33%;
    }
    .block-views-blockmedia-gallery-block-1{
        margin-bottom: 30px;
    }
    .front_content_4 .right .view .views-row{
        width: 37%;
        float: left;
    }
    .front_content_4 h1:after{
        text-align: left;
        margin: 0;
    }
    .front_content_4 h1.block-title{
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .front_content_4{
        padding-top: 33px;
    }
 
}
@media screen and (max-width: 768px){
    header .bottom-header .header_center{
        display: none; 
    }
    header .bottom-header .header_right #block-socialmedia-2{
        display: none; 
    }
    header .bottom-header .header_right{
        width: 50%;  
        padding-top: 80px;

    }
    header .bottom-header .header_left{
        width: 50%;  
    }
    header .bottom-header{
        padding: 15px 20px;
        float: left;
        width: 100%;
    }   #footer{
        text-align: center;
    }
    #footer .footer-left h2::after{
        margin: 0px auto;
        margin-top: 5px;
    }
    #footer .footer-left{
       padding-top: 20px; 
    }
    
}
