/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:37 PM
    Author     : aqasem
*/
@media screen and (max-width: 1199px){
    .front_content_1 .view .views-row .views-field-title a{
        font-size: 24px;
    }
    .front_content_2 .announcement .views-row .views-field-field-date{
            margin-right: 8px;
    }
    .front_content_2 .announcement .views-row .views-field-title a{
            font-size: 14px;
    }
    .front_content_2 .simplenews .simplenews-subscriber-form{
        padding: 0px 20px;
    }
    .front_content_2 .simplenews .simplenews-subscriber-form form .field--type-email input,
    .front_content_2 .simplenews .simplenews-subscriber-form form .form-actions button{
            width: 88%;
    }
    .front_content_4 .right .view .views-row{
            width: 46.2%;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2{
        max-width:650px;
    }
}
@media screen and (max-width: 1025px){
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent{
        top:20px;                
    }
    .sf-accordion-toggle{
            text-align: right;
    }
}
@media screen and (max-width: 768px){
    
}
