// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

@import url('https://fonts.googleapis.com/css?family=Lato:100i,300,300i,400,400i,700,700i,900,900i');


body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: black;  
    font-size:18px;
    //display:none;
}
.help{
    .region-help{
        background-color: inherit;
        border: 0px;
        padding: 0px;
        margin-bottom: 0px;
        span.glyphicon-question-sign{
            display:none;
        }
    }
}
.front_content_1{
    margin-bottom: 36px;
    .view{
        .views-row{
            position: relative;
            .views-field-title{
                position: absolute;
                bottom: 45px;
                display: block;
                left: 85px;
                a{
                    font-size: 36px;
                    font-weight: bold;
                    color: #FFFFFF;
                    position: relative;
                    width: 78%;
                    display: block;
                    text-transform: uppercase;
                } 
                a:after{
                    content: "";
                    display: block;
                    width: 215px;
                    height: 3px;
                    background-color: #FFB500;
                    margin-top: 5PX;
                }
                a:hover, a.focus{
                    text-decoration: none;
                }
            }
            .views-field-field-image{
                .field-content{
                    background-color: black;
                    img{
                        opacity: 0.8;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.front_content_2{
        margin-bottom: 46px;
    .news , .announcement{
        h2.block-title{
            font-size: 24px;
            color: #4A4A4A;
            font-weight: bold;
            border-bottom: solid 3px #FFB500;
            width: 61.4%;
            padding-bottom: 7px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .news{
        .view{
            .views-row{
                clear:both;
                .views-field-field-image{
                    float: left;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    img{
                        border: 1px solid #979797;
                    }
                }
                .views-field-title{
                    float: left;
                    width: 63%;
                    a{
                        font-size: 18px;
                        color: #4A4A4A;
                        line-height: 22px;
                    }
                }
            }
            .view-footer{
                clear: both;
                a{
                    display: block;
                    width: 166px;
                    height: 40px;
                    background-color: #0083D1;
                    border-radius: 5px;
                    text-align: center;
                    font-weight: bold;
                    color: #FFFFFF;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 35px;
                }
            }
        }
    }
    .announcement{
        .views-row{
            clear:both;
            width: 100%;
            float: left;
            margin-bottom: 30px;
            .views-field-field-date{
                float: left;
                margin-right: 23px;
                .field-content{
                    display: block;
                    width: 60.92px;
                    height: 53px;
                    background-color: #0083D1;
                    border: 1px solid #0083D1;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: #FFFFFF;
                    line-height: 19px;
                    padding-top: 5px;
                }
            }
            .views-field-title{
                float: left;
                width: 75%;
                border-bottom: 1px solid #979797;
                padding-bottom: 30px;
                min-height: 76px;
                a{
                    font-size: 18px;
                    color: #4A4A4A;
                    line-height: 22px;
                }
            }
        }
        .views-row:last-child{
            .views-field-title{
                border-bottom: 0px solid #979797;
            }
        }
        .view-footer{
            clear: both;
            a{
                display: block;
                width: 166px;
                height: 40px;
                background-color: #0083D1;
                border-radius: 5px;
                text-align: center;
                font-weight: bold;
                color: #FFFFFF;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 35px;
            }
        }
    }
    .simplenews{
        .simplenews-subscriber-form{
            background-color: #F6F6F6;
            border-radius: 5px;
            h2.block-title{
                color: #0083D1;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                    margin-top: 29px;
            }
            h2.block-title:after{
                content:url(../images/newsletter_icon.png);
                    margin-top: 15px;
                    display: block;
            }
            form{
                .form-item-message{
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #4A4A4A;
                    font-weight: bold;
                }
                .field--type-email{
                    label{
                        display: none;
                    }
                    input{
                        height: 47px;
                        width: 278px;
                        box-shadow: none;
                        border-radius: 5px;
                        background-color: #FFFFFF;
                        margin: 0px auto;
                        border: 1px solid #E5E5E5;
                    }
                }
                .form-actions{
                    margin: 0px auto;
                    display: table;
                    margin-bottom: 40px;
                    button{
                        width: 275px;
                        height: 47px;
                        border-radius: 5px;
                        background-color: #0083D1;
                        font-size: 16px;
                        font-weight: bold;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        border: 0;
                    }
                }
            }
        }

    }
}

.front_content_4{
    .left{
        
    }
    .right{
        .view{
            .views-row{
               padding:0px; 
               .views-field-field-images{
                   img{
                       width:100%;
                   }
               }
            }
            .views-row:nth-child(odd){
                margin-right:30px;
            }
        }
    }
}
ul.menu--social-media{
    li{
        float:left;
        a{
            font-size: 0px;
        }
        a::before{
            font-family: FontAwesome !important;
            font-size: 18px;
        }
    }
}  
