// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: black;  
    font-size:18px;
    //display:none;
}
.help{
    .region-help{
        background-color: inherit;
        border: 0px;
        padding: 0px;
        margin-bottom: 0px;
        span.glyphicon-question-sign{
            display:none;
        }
    }
}
.front_content_1{
    .view{
        .views-row{
            position: relative;
            .views-field-title{
                position: absolute;
                bottom: 45px;
                display: block;
                    left: 85px;
                a{
                    font-size: 36px;
                    font-weight: bold;
                    color: #FFFFFF;
                        position: relative;
                            width: 60%;
    display: block;
    text-transform: uppercase;
                } 
                a:after{
                    content:url('../images/2border.png');
                    display: block;
                        bottom: -23px;
                            position: absolute;
                }
            }
        }
    }
}

footer{
    background-color: #262626;
    padding: 40px 0px;
    margin-top: 80px;
    ul.menu{
        li{
            a{
                color:#fff;
            }
            a:hover , a:focus{
                background-color: transparent;
            }
        }
    }
    .footer_bottom{
        color:#fff;
        a{
            color:#fff;
        }
    }
}
ul.menu--social-media{
    li{
        float:left;
        a{
            font-size: 0px;
        }
        a::before{
            font-family: FontAwesome !important;
            font-size: 18px;
        }
    }
}  