// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

@import url('https://fonts.googleapis.com/css?family=Lato:100i,300,300i,400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700');

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: black;  
    font-size:18px;
    //display:none;
}
.help{
    .region-help{
        background-color: inherit;
        border: 0px;
        padding: 0px;
        margin-bottom: 0px;
        span.glyphicon-question-sign{
            display:none;
        }
    }
}
.front_content_1{
    margin-bottom: 36px;

    padding-top: 50px;     
    .view{
        .views-row{
            position: relative;
            .views-field-title{
                position: absolute;
                bottom: 45px;
                display: block;
                left: 85px;
                a{
                    font-size: 36px;
                    font-weight: bold;
                    color: #FFFFFF;
                    position: relative;
                    width: 78%;
                    display: block;
                    text-transform: uppercase;
                } 
                a:after{
                    content: "";
                    display: block;
                    width: 215px;
                    height: 3px;
                    background-color: #FFB500;
                    margin-top: 5PX;
                }
                a:hover, a.focus{
                    text-decoration: none;
                }
            }
            .views-field-field-image{
                .field-content{
                    background-color: black;
                    img{
                        opacity: 0.8;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.front_content_2{
    margin-bottom: 46px;
    .news , .announcement{
        h2.block-title{
            font-size: 24px;
            color: #4A4A4A;
            font-weight: bold;
            border-bottom: solid 3px #FFB500;
            width: 61.4%;
            padding-bottom: 7px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .news{
        .view{
            .views-row{
                clear:both;
                .views-field-field-image{
                    float: left;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    img{
                        border: 1px solid #979797;
                    }
                }
                .views-field-title{
                    float: left;
                    width: 63%;
                    a{
                        font-size: 18px;
                        color: #4A4A4A;
                        line-height: 22px;
                    }
                }
            }
            .view-footer{
                clear: both;
                a{
                    display: block;
                    width: 166px;
                    height: 40px;
                    background-color: #0083D1;
                    border-radius: 5px;
                    text-align: center;
                    font-weight: bold;
                    color: #FFFFFF;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 35px;
                    display:none;
                }
                a.en{
                    display:block;
                }
            }
        }
    }
    .announcement{
        .views-row{
            clear:both;
            width: 100%;
            float: left;
            margin-bottom: 30px;
            .views-field-field-date{
                float: left;
                margin-right: 23px;
                .field-content{
                    display: block;
                    width: 60.92px;
                    height: 53px;
                    background-color: #0083D1;
                    border: 1px solid #0083D1;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: #FFFFFF;
                    line-height: 19px;
                    padding-top: 5px;
                }
            }
            .views-field-title{
                float: left;
                width: 75%;
                border-bottom: 1px solid #979797;
                padding-bottom: 30px;
                min-height: 76px;
                a{
                    font-size: 18px;
                    color: #4A4A4A;
                    line-height: 22px;
                }
            }
        }
        .views-row:last-child{
            .views-field-title{
                border-bottom: 0px solid #979797;
            }
        }
        .view-footer{
            clear: both;
            a{
                display: block;
                width: 166px;
                height: 40px;
                background-color: #0083D1;
                border-radius: 5px;
                text-align: center;
                font-weight: bold;
                color: #FFFFFF;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 35px;
            }
            a.ar{
                display:none;
            }
        }
    }
    .simplenews{
        .simplenews-subscriber-form{
            background-color: #F6F6F6;
            border-radius: 5px;
            h2.block-title{
                color: #0083D1;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                margin-top: 29px;
            }
            h2.block-title:after{
                content:url(../images/newsletter_icon.png);
                margin-top: 15px;
                display: block;
            }
            form{
                .form-item-message{
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #4A4A4A;
                    font-weight: bold;
                }
                .field--type-email{
                    label{
                        display: none;
                    }
                    input{
                        height: 47px;
                        width: 278px;
                        box-shadow: none;
                        border-radius: 5px;
                        background-color: #FFFFFF;
                        margin: 0px auto;
                        border: 1px solid #E5E5E5;
                    }
                }
                .form-actions{
                    margin: 0px auto;
                    display: table;
                    margin-bottom: 40px;
                    button{
                        width: 275px;
                        height: 47px;
                        border-radius: 5px;
                        background-color: #0083D1;
                        font-size: 16px;
                        font-weight: bold;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        border: 0;
                    }
                }
            }
        }

    }
}

.front_content_4{
    padding-top: 92px;
    h1.block-title{
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #4A4A4A;
        text-transform: uppercase;
        margin: 0px;
        padding-bottom: 34px;
        a{
            color: #4A4A4A;
        }
        a:hover ,a.focus{
            text-decoration: none;
        }
        a.ar{
            display:none;
        }
    }
    h1:after{
        content: "";
        display: block;
        width: 305px;
        height: 3px;
        background-color: #FFB500;
        text-align: center;
        margin: 0px auto;
        margin-top: 9px;
    }
    .left{
        .view{
            .views-row{
                position: relative;
                .views-field-title {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    background: #0083d1;
                    a {
                        color: #FFF;
                    }
                }
            }
            .views-row:nth-child(odd){
                margin-right:30px;
            }
        }
    }
    .right{
        .view{
            .views-row{
                padding: 0px;
                width: 47.2%;
                margin-bottom: 32px;
                position: relative;
                .views-field-title {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    background: #0083d1;
                    a {
                        color: #FFF;
                    }
                }
            }
            .views-row:nth-child(odd){
                margin-right:30px;
            }
        }
    }
}
.image_header{
    position: relative;
    .block-custom-header-image{
        background-color: black;
        img{
            opacity: 0.5;
            width:100%;
        }
    }
    h1.page-header{
        color: #FFFFFF;
        font-size: 36px;
        font-weight: bold;
        line-height: 44px;
        text-transform: uppercase;
        border: 0px;
        position: absolute;
        bottom: 85px;
        width: 1110px;
        margin: 0px auto;
        left: 0;
        right: 0px;
        padding: 0;
    }
    h1.page-header:after{
        content: "";
        display: block;
        width: 215px;
        height: 3px;
        background-color: #FFB500;
        margin-top: 5px;
    }
}
.path-media-gallery{
    .content-content{
        padding:0px;
    }
    .view{
        .views-row{
            position: relative;
            margin-bottom: 30px;
            .views-field-field-images{
                .field-content{
                    background-color: black;
                    img{
                        opacity: 0.8;
                        width: 100%;
                    }
                }
            }
            .views-field-title{

                a{
                    font-size: 24px;
                    font-weight: bold;
                    color: #4A4A4A;
                    display: block;
                    text-transform: uppercase;
                    text-align: center;

                    padding-top: 18px;
                }
                a:hover, a.focus{
                    text-decoration: none;
                }
            }
        }
    }
}
.page-node-type-media-gallery{
    #content{
        .slideshow{
            .bx-wrapper{
                float: left;
                margin: 0px;
                box-shadow: none;
            }
            .bx-wrapper:first-of-type{
                width: 920px;
                //margin-right: 30px;
            }
            .bx-wrapper:nth-of-type(2){
                position: relative;
                .bx-viewport {
                    //max-height: 403px !important;
                    height: 512px !important;
                    video{
                        width: 100% !important;
                        height: auto !important;
                    }
                    video::-webkit-media-controls {
                        display: none;
                    }
                    #bx-pager{
                        a{
                            display: block;
                            margin-bottom: 20px;
                            background: black !important;
                            .field--name-field-or-youtube{
                                background: url(../images/youtube-logo2.jpg);
                                border: solid 1px darkgrey;
                                opacity: 0.4;
                                iframe{
                                    display:none;
                                }
                            }
                            .field--name-field-media-image{
                                img{
                                    opacity: 0.4; 
                                }
                            }
                            .field--name-field-media-video-file{
                                .field--item{
                                    video{
                                        opacity: 0.4;
                                    }
                                }
                            }
                        }
                        a:hover{
                            .field--name-field-or-youtube{
                                opacity: 1; 
                            }
                            .field--name-field-media-image{
                                img{
                                    opacity: 1; 
                                }
                            }
                            .field--name-field-media-video-file{
                                .field--item{
                                    video{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
                .bx-controls{
                    a.bx-prev {
                        position: absolute;
                        top: 16px;
                        width: 100%;
                        background-color: black;
                        opacity: 0.4;
                        font-size: 0px;
                        background-image: url(../images/up-arrow.png);
                        background-repeat: no-repeat;
                        display: block;
                        height: 20px;
                        background-position: 50%;
                        left: 0;
                    }
                    a.bx-next {
                        width: 100%;
                        background-color: black;
                        opacity: 0.4;
                        right: 0;
                        font-size: 0px;
                        background-image: url(../images/arrow-down.png);
                        background-repeat: no-repeat;
                        display: block;
                        height: 20px;
                        background-position: 50%;
                        position: absolute;
                        bottom: 0;
                        top: auto;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}
.page-node-type-page ,.page-node-type-announcement ,.page-node-type-news{
    .field--name-body{
        color: #9B9B9B;
        font-size: 18px;
        //font-weight: bold;
        line-height: 30px;
        strong{
            color: #4A4A4A;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    .field--name-field-date{
        color: #4A4A4A;
        font-size: 24px;
        //font-weight: bold;
        margin-bottom: 15px;
    }
}
.page-node-type-admission , .page-node-type-academics ,.page-node-type-academics-name ,.page-node-type-administrative{
    .field--name-field-admission{
        .field--item{
            .bx-wrapper{
                box-shadow: none;
                border: 5px solid #fff;
                background: #fff;
                margin: 0;
                width: 100%;
            }
            .field--name-field-title{
                color: #4A4A4A;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            .field--name-field-body ,.field--name-field-breif{
                color: #9B9B9B;
                font-size: 18px;
                //font-weight: bold;
                line-height: 30px;
            }
            .paragraph--type--image-body{
                position: relative;
                .field--name-field-name{
                    position: absolute;
                    top: 0px;
                    left: 0;
                    background: #0083d1;
                    color: #FFF;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 5px;
                }
            }

            .paragraph--type--collapses{
                .field--name-field-title{
                    color: #fff;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 15px;
                    background: #4A4A4A;
                    padding: 10px 20px;
                    text-transform: capitalize;
                    cursor: pointer;
                }
                .field--name-field-title:after{
                    content: url(../images/right-arrow-collapses.png); 
                    display: inline-block;
                    float: right;
                }
                .field--name-field-title.opened-content:after{
                    content: url(../images/up-arrow.png); 
                    display: inline-block;
                    float: right;
                }
                .field--name-field-content{
                    display:none;
                    .field--name-field-title{
                        background: inherit;
                        padding: 0;
                        text-transform: capitalize;
                        cursor: pointer;
                        color: #4A4A4A;
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }
                }
                .field--name-field-content.opened{
                    display:block; 
                }
            }
        }
        form{
            margin-top: 20px;
            .form-item{
                label{
                    color: #4A4A4A;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
                input , textarea{
                    box-shadow: none;
                    border-radius: 0px;
                }
                .form-number{
                    box-shadow: none;
                    border-radius: 0px;  
                    display: block;
                    width: 100%;
                }
            }
        }
        .field--name-field-pdf{
            .field--item{
                iframe{
                    margin-left: 0;
                    margin-right: 0;
                    width: 100%;
                }
            }
        }
    }
    .block-webform{
        form{
            margin-top: 20px;
            .form-item{
                margin-bottom: 20px;
                label{
                    color: #4A4A4A;
                    font-size: 16px;
                    font-weight: bold;
                }
                input , textarea{
                    box-shadow: none;
                    border-radius: 0px;
                }
                .form-number{
                    box-shadow: none;
                    border-radius: 0px;  
                    display: block;
                    width: 100%;
                }
            }
            .form-actions{
                button{
                    background-color: #FFB500;
                    border: 0px;
                    box-shadow: none;
                    border-radius: 0;
                    font-weight: bold;
                    width: 175px;
                    height: 38px;
                    font-size: 17px;
                }
            }
        }
    }
}
.page-node-type-faq .field--name-field-admission .field--item{
    margin-bottom: 20px;
}
.paragraph--type--faq-collapses{
    .field--name-field-title{
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0px !important;
        background: #4A4A4A;
        padding: 10px 20px;
        text-transform: capitalize;
        cursor: pointer;
    }
    .field--name-field-title:after{
        content: url(../images/right-arrow-collapses.png); 
        display: inline-block;
        float: right;
    }
    .field--name-field-title.opened-content:after{
        content: url(../images/up-arrow.png); 
        display: inline-block;
        float: right;
    }
    .field--name-field-content{
        display:none;
        border: solid 1px grey;
        padding: 20px;
        .field--name-field-title{
            background: inherit;
            padding: 0;
            text-transform: capitalize;
            cursor: pointer;
            color: #4A4A4A;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
            padding-bottom: 10px;

        }
        .field--name-field-body{
            display:none;
            font-size: 16px;
            line-height: 20px;
            color: #9B9B9B;
        }
        .field--name-field-body.opened{
            display:block; 
        }

    }
    .field--name-field-content.opened{
        display:block; 
    }
}

.view-employees{
    .views-row{
        margin-bottom: 30px;
        position: relative;
        clear: both;
        .views-field{
            margin-bottom: 20px;
            .field-content{
                display: inline-block;
                font-size: 16px;
            }
            .views-label{
                display: inline-block;
                width: 215px;
                font-size: 16px;
            }
        }
        .views-field-field-image{
            float: left;
            padding-right: 20px;
            img{
                width: 100%;
            }
        }
        .views-field-title{
            position: absolute;
            top: 0px;
            left: 0;
            background: #0083d1;
            color: #FFF;
            font-weight: bold;
            font-size: 16px;
            padding: 5px;
        }
        .views-field-field-cv{
            .file {
                width: auto;
                .file-icon {
                    width: auto;
                    display: none;
                }
                .file-link {
                    width: auto;
                    border: 0;
                }
                .file-size {
                    display: none;
                }
            }
        }

    }
}
//Contact Us
.page-node-type-webform{
    .field--name-body{
        color: #4A4A4A;
        font-size: 18px;
        line-height: 30px;
    }
    .field--name-field-brief{
        color: #4A4A4A;
        font-size: 20px;
        line-height: 30px;
    }
    .bs-region--bottom{
        clear: both;
        margin-top: 20px;
        form{
            margin-top: 20px;
            .form-item{
                margin-bottom: 20px;
                label{
                    color: #4A4A4A;
                    font-size: 16px;
                    font-weight: bold;
                }
                input , textarea{
                    box-shadow: none;
                    border-radius: 0px;
                }
                .form-number{
                    box-shadow: none;
                    border-radius: 0px;  
                    display: block;
                    width: 100%;
                }
            }
            .form-actions{
                button{
                    background-color: #FFB500;
                    border: 0px;
                    box-shadow: none;
                    border-radius: 0;
                    font-weight: bold;
                    width: 175px;
                    height: 38px;
                    font-size: 17px;
                }
            }
        }
    }

}
.pager-nav{
    text-align: right;
    ul{
        li{
            a{
                color: #4A4A4A; 
                font-size: 16px;
                border:0px;
                padding:0px;
                margin: 0px 4px;
                display: inline-block;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 18px;
            }
            a:hover , a:focus ,span:hover , span:focus{
                color: #4A4A4A;  
                background-color: #fff;
                border-color: #fff;
            }
        }
        li.active{
            a{
                color: #fff; 
                background: #0083D1;
                border-radius: 50%;
                font-size: 16px;
                border:0px;
                padding:0px;  
            }
            a:hover , a:focus ,span:hover , span:focus{
                color: #fff;  
                background-color: #0083D1;
                border-color: #0083D1;
            }
        }
        li.pager__item--last ,li.pager__item--first{
            display: none;
        }
        li.pager__item--next{
            a{
                background-image: url(../images/pager-right.png); 
                background-repeat: no-repeat;
                margin-top: 2px;
                span{
                    font-size: 0px; 
                }
            }  
        }
        li.pager__item--previous{
            a{
                background-image: url(../images/pager-left.png); 
                background-repeat: no-repeat;
                margin-top: 2px;
                span{
                    font-size: 0px; 
                }
            }  
        }
    } 
}
//styles for ammar
.path-news-events #content .container > .col-md-9 .view-content .views-row{
    clear: both;
    float:left;
}
header.row{
    margin-left: 0px;
    margin-right: 0px;
}
.path-notfront #content > .container > .col-md-3 .block-superfish ul.menu li{
    width:100%;
}
ul.menu--social-media{
    li{
        float:left;
        a{
            font-size: 0px;
        }
        a::before{
            font-family: FontAwesome !important;
            font-size: 18px;
        }
    }
}  
header .top-header .language-switcher-language-url{
    float: right;
    ul{
        li{
            a{
                font-family: 'Cairo', sans-serif;
            }
        }
    }
}
.path-awards-certificates{
    .content-content{
        .views-row{
            margin-bottom: 20px;
            .views-field-field-image{
                img{
                    margin: 0px auto;
                }
            }
            .views-field-title{
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                padding: 15px 0;
                color: black;
                a{
                    color: black;
                }
            }
            .views-field-body{
                text-align: center;
                color: #9B9B9B;
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
}
.page-node-type-webform{
    .header_right{
        form{
            .form-actions{
                button{
                    background: transparent;
                    font-size: 0;
                    border: 0;
                    position: absolute;
                    right: 0;
                    margin: 0;
                    padding: 10px;
                    top: 0;
                    span{
                        font-size: 16px;
                        color: #969696;
                    }
                }
            }
        }
    }
}
.path-partnerships #content .region-content .view-content .views-row{
    min-height: 285px;
}
.path-partnerships #content .region-content .view-content .views-row .views-field-body{
    a{
        display: block;
        word-wrap: break-word;
    }

}
/*header .menu-region #block-mainnavigation ul.menu > li ul{
    min-width: 535px;

}*/
header .menu-region #block-mainnavigation ul.menu > li ul li{
    float: left;
    width: 50%;
    padding: 10px;
}
header .menu-region #block-mainnavigation ul.menu > li ul li a{
    text-align: left;
}
table tr td , table tr th{
    padding: 10px;
}
table tr td strong{
    text-align: center;
    display: block;
    color: #0083D1;
}

header .menu-region #block-mainnavigation ul.menu > li span{
    cursor: pointer;
}
.path-notfront #content > .container > .col-md-3 .block-superfish ul.menu li span.first{
    font-size: 18px !important;
    line-height: 26px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
}
.page-node-type-media-gallery #content .slideshow .bx-wrapper:first-of-type .bx-controls{
    display: none;
}
.field--name-field-admission .paragraph--type-employees{
    .bs-region--left{
        width: 35%;
        position: relative;
        padding: 0;
        margin: 0px 15px;
        margin-bottom: 30px;
        .field--name-field-full-name{
            position: absolute;
            top: 0px;
            left: 0;
            background: #0083d1;
            color: #FFF;
            font-weight: bold;
            font-size: 16px;
            padding: 5px;
        }
    }
    .bs-region--right{
        width: 61%;
        .field{
            margin-bottom: 20px;
            .field--label{
                display: inline-block;
                width: 215px;
                font-size: 16px;
                font-weight: normal;
            }
            .field--item{
                font-size: 16px;
            }
        }
        .field--name-field-cv{
            .file {
                width: auto;
            }
            .file-icon {
                width: auto;
                display: none;
            }
            .file-link {
                width: auto;
                border: 0;
            }
            .file-size {
                display: none;
            }
        }
    }

}
.field--name-field-image-and-name ,.paragraph--type--name-body{
    position: relative;
    .field--name-field-name{
        position: absolute;
        top: 0px;
        left: 0;
        background: #0083d1;
        color: #FFF;
        font-weight: bold;
        font-size: 16px;
        padding: 5px;
    }
}