/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:10 PM
    Author     : aqasem
*/
header{
    .top-header{
        background-color: #4A4A4A;
        text-align:right;
        padding: 13px 70px;
        #block-topmenu{
            display:inline-block;
            ul.nav{
                li{
                    display:inline-block;
                    border-right: 1px solid #FFF;
                    line-height: 14px;
                    padding: 0 8px;
                    a{
                        color: #FFFFFF;
                        font-size: 14px;
                        text-transform: uppercase;
                        padding:0;
                    }
                    a:hover , a:focus{
                        background: transparent;
                    }
                }
                li:last-child{
                    border:0;
                }
            }
        }
        .language-switcher-language-url{
            display:inline-block;
            ul.links{
                list-style: none;
                padding:0;
                margin:0;
                li{
                    a{
                        color: #FFFFFF;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 0;

                    }
                }
                li.is-active{
                    display: none;
                }

            }
        }
    }
    .bottom-header{
        padding:15px 70px;
        .header_left{

        }
        .header_center{

        }
        .header_right{
            #block-socialmedia-2{
                display: inline-block;
            }
            #block-exposedformsearch-apipage-1{
                display: inline-block;
            }
        }
    }
}
.dynamic_header{
    .block-views{
        .view-content{
            #slick-views-dynamic-header-block-1-1{
                #slick-views-dynamic-header-block-1-1-slider{
                    .slick-list{
                        .slick-track{
                            .slick__slide{
                                .views-field-field-image{
                                    img{
                                        width:100%;
                                    }
                                }
                                .views-field-nothing{
                                    .slider_conent{
                                        position: absolute;
                                        top:230px;
                                        .text1{
                                            color: #FFFFFF;
                                            font-size: 36px;
                                            font-weight: bold;
                                            display: none;
                                        }
                                        .text1::after{
                                            content: "";
                                            display: block;
                                            width: 470px;
                                            height: 3px;
                                            background-color: #FFB500;
                                            margin-top: 5PX;
                                        }
                                        .text2{
                                            color: #FFFFFF;
                                            font-size: 22px;
                                            line-height: 27px;
                                            max-width: 1110px;
                                            margin-top: 16px;
                                            display: none;
                                        }
                                        .link{
                                            display: none;
                                            a{
                                                color: #FFFFFF;
                                                font-size: 16px;
                                                font-weight: bold;
                                                text-align: center;
                                                width: 255px;
                                                background-color: #0083D1;
                                                display: block;
                                                padding: 14px;
                                                margin-top: 15px;
                                            }
                                        }
                                        .text1.animated, .text2.animated, .link.animated{
                                            display: block;

                                        }
                                    }
                                }
                            }

                        }
                    }
                }
                .slick__arrow{

                }
            }
        }
    }
}

.front_content_3{
/*    background: url(../images/default-thumbnail.jpg) no-repeat;
    height: 515px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
