/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Feb-2018, 12:47:56
    Author     : lhmeid
*/
@import url("https://fonts.googleapis.com/css?family=Cairo:600,700");

[dir="rtl"] {
    body {
        font-family: 'Cairo', sans-serif;
    }

    header {
        .top-header{
            #block-topmenu{
                float: left;
                ul.nav 
                {
                    li{
                        border-right: 0px solid #FFF;
                        border-left: 1px solid #FFF;
                    }
                    li:last-child{
                        border-left: 0px solid #FFF;
                    } 
                }
            }
            .language-switcher-language-url{
                float: left; 
            }
        }
    } 
}