// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: black;  
    font-size:18px;

}
.help{
    .region-help{
        background-color: inherit;
        border: 0px;
        padding: 0px;
        margin-bottom: 0px;
        span.glyphicon-question-sign{
            display:none;
        }
    }
}
#header{
    padding:20px 0px;
    .header_left{
        ul.menu{
            li{
                padding: 20px;
                a{
                    color: #262626;
                    font-size: 16px;
                    padding: 0;
                    span.sf-sub-indicator{
                        right: -20px;
                        top: 13px;
                    }
                    span.sf-sub-indicator:after{
                        line-height: 0;
                    }
                }
                ul{
                    background: #fff;
                }
                a:hover ,a:focus{
                    color: #C8B374;
                    text-decoration: none;
                }
            }
        }
    }
    .header_center{
        a.logo{
            margin: 0px auto;
            float: none !important;
            display: table;
        }
    }
    .header_right{
        .block-views-exposed-filter-blocksearch-api-page-1{
            width: 70%;
            float: right;
            form{
                position: relative;
                input{
                    width: 100% !important;
                    background-color: transparent;
                    border: 1px solid #262626;
                    box-shadow: none;
                    border-radius: 19px;
                    padding: 0px 30px;                
                }
                .form-actions{
                    position: absolute;
                    top: 2px;
                    left: 10px;
                    button{
                        margin: 0px;
                        font-size: 0px;
                        padding: 0px;
                        background: transparent;
                        border: 0px;
                        span.icon{
                            font-size: 18px;
                            color: #262626;
                            margin: 0px;
                        }
                    }
                }
            }
        } 
        .block-language{
            float: right;
            padding-top: 8px;
            ul{
                padding:0px;
                li{
                    list-style: none;
                    a{
                        color: #262626;
                        font-size: 16px;
                    }
                    a::after{
                        content:"|";
                        padding: 0px 3px;
                    }
                }
                li.is-active{
                    display:none;
                }
            }
        }
    }
}
.dynamic_header{
    clear: both;
    position: relative;
    .bx-wrapper{
        height: auto !important;
        box-shadow: none;
        border: 0px solid #fff;
        left: 0;
        background: inherit;
        margin-bottom: 0px;
        img{
            width:100%;
        }
        .bx-viewport{
            .views-row{
                position: relative !important;
                .views-field-nothing{
                    position: absolute;
                    top: 200px;
                    left: 30px;
                    .slider_conent{
                        .title{
                            a{
                                font-size: 32px;
                                color: #003764;
                                font-weight: bold;
                            }
                        }
                        .body{
                            font-size: 28px;
                            color: #003764;
                        }
                    }
                }
            }
        }
        .bx-controls{
            .bx-pager{
                bottom: 20px;
            }
        }
    }
}
.block-views{
    h2.block-title{
        text-align: center;
        color: #000000;
        font-size: 30px;
        font-weight: bold;
    }
    .views-row{
        margin-bottom: 20px;
        .views-field-nothing{
            position: relative;
            .field-content{
                float: left;
                position: relative;
            }
            .image{
                position: relative;
                #gradient{
                    display: block;
                    width: 100%;
                    height: 65%;
                    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
                    position: absolute;
                    bottom: 0;
                }
                img{
                    width: 100%;
                }
            }
            .second_content{
                position: absolute;
                bottom: 37px;
                left: 0;
                right: 0;
                margin: 0px auto;
                display: block;
                padding: 0px 20px;
                .title{
                    margin:10px 0px;
                    a{
                        display: block;
                        text-align: center;
                        color: #fff;
                        font-size: 24px;
                        font-weight: bold;
                    }
                    a:hover , a:focus{
                        text-decoration: none;
                    }
                }
                .date{
                    font-weight: bold;
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                }
                .body{
                    display: block;
                    text-align: center;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}
footer{
    background-color: #262626;
    padding: 40px 0px;
    margin-top: 80px;
    ul.menu{
        li{
            a{
                color:#fff;
            }
            a:hover , a:focus{
                background-color: transparent;
            }
        }
    }
    .footer_bottom{
        color:#fff;
        a{
            color:#fff;
        }
    }
}
ul.menu--social-media{
    li{
        float:left;
        a{
            font-size: 0px;
        }
        a::before{
            font-family: FontAwesome !important;
            font-size: 18px;
        }
    }
}  