/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:10 PM
    Author     : aqasem
*/
header{
    .top-header{
        background-color: #4A4A4A;
        text-align:right;
        padding: 13px 70px;
        #block-topmenu{
            display:inline-block;
            ul.nav{
                li{
                    display:inline-block;
                    border-right: 1px solid #FFF;
                    line-height: 14px;
                    padding: 0 8px;
                    a{
                        color: #FFFFFF;
                        font-size: 14px;
                        text-transform: uppercase;
                        padding:0;
                    }
                    a:hover , a:focus{
                        background: transparent;
                    }
                }
                li:last-child{
                    border:0;
                }
            }
        }
        .language-switcher-language-url{
            display:inline-block;
            ul.links{
                list-style: none;
                padding:0;
                margin:0;
                li{
                    a{
                        color: #FFFFFF;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 0;

                    }
                }
                li.is-active{
                    display: none;
                }

            }
        }
    }
    .bottom-header{
        padding:15px 70px;
        .header_left{

        }
        .header_center{
            text-align: center;
            color: #9B9B9B;
            font-size: 27px;
            font-style: italic;
            font-weight: 300;
            padding-top: 40px;
        }
        .header_right{
            padding-top: 40px;
            #block-socialmedia-2{
                display: inline-block;
                float:right;
                padding-top: 6px;
                ul.menu{
                    li{
                        margin-right: 13px;
                        a{
                            width:24px;
                            height: 24px;
                            border-radius: 50%;
                            background:#646464;
                            padding: 0;
                            color: #FFF;
                            padding-left: 5px;
                            padding-top: 1px;
                        }
                        a::before{
                            font-size: 15px;
                        }
                    }
                }
            }
            #block-exposedformsearch-apipage-1{
                display: inline-block;
                float:right;
                form{
                    .form--inline{
                        position: relative;
                        .form-type-textfield{
                            input{
                                width: 256px;
                                border: 1px solid #C8C8C8;
                                border-radius: 8px;
                                font-size: 12px;
                                font-weight: bold;
                                line-height: 15px;
                                box-shadow: none;

                            }
                        }
                        #edit-actions{
                            button{
                                background: transparent;
                                font-size: 0;
                                border: 0;
                                position: absolute;
                                right: 0;
                                margin: 0;
                                padding: 10px;
                                top: 0;
                                span{
                                    font-size: 16px;
                                    color:#969696;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-region{
        background-color: #0083D1;
        padding-top:10px;
        paddong-bottom:10px;
        #block-mainnavigation{
            ul.menu{
                li{
                    border-right:1px solid #FFF;
                    a{
                        padding:0;
                        margin:0;
                        
                    }
                    a.sf-with-ul{
                        padding-right:10px;
                        .sf-sub-indicator::after{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
.dynamic_header{
    .block-views{
        .view-content{
            #slick-views-dynamic-header-block-1-1{
                #slick-views-dynamic-header-block-1-1-slider{
                    .slick-list{
                        .slick-track{
                            .slick__slide{
                                .views-field-field-image{
                                    img{
                                        width:100%;
                                    }
                                }
                                .views-field-nothing{
                                    .slider_conent{
                                        position: absolute;
                                        top:230px;
                                        .text1{
                                            color: #FFFFFF;
                                            font-size: 36px;
                                            font-weight: bold;
                                            display: none;
                                        }
                                        .text1::after{
                                            content: "";
                                            display: block;
                                            width: 470px;
                                            height: 3px;
                                            background-color: #FFB500;
                                            margin-top: 5PX;
                                        }
                                        .text2{
                                            color: #FFFFFF;
                                            font-size: 22px;
                                            line-height: 27px;
                                            max-width: 1110px;
                                            margin-top: 16px;
                                            display: none;
                                        }
                                        .link{
                                            display: none;
                                            a{
                                                color: #FFFFFF;
                                                font-size: 16px;
                                                font-weight: bold;
                                                text-align: center;
                                                width: 255px;
                                                background-color: #0083D1;
                                                display: block;
                                                padding: 14px;
                                                margin-top: 15px;
                                            }
                                        }
                                        .text1.animated, .text2.animated, .link.animated{
                                            display: block;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
                .slick__arrow{
                    button.slick-prev{
                        background: none;
                        box-shadow: none;
                        border:0;
                        font-size: 0;
                        background: url(../images/slider-left.png) no-repeat;
                        top:50%;
                        left:60px;
                        width: 32px;
                        height: 32px;
                        position: absolute;
                    }
                    button.slick-next{
                        background: none;
                        box-shadow: none;
                        border:0;
                        font-size: 0;
                        background: url(../images/slider-right.png) no-repeat;
                        top:50%;
                        right:60px;
                        width: 32px;
                        height: 32px;
                        position: absolute;
                    }
                    button:focus{
                        border:0;
                    }
                }
            }
        }
    }
}

.front_content_3{
    > .container{
        width: 100%;
        padding:0;
        > .col-md-12{
            padding:0;
            width:100%;
            #block-views-block-featured-stories-block-1{
                .view-content{
                    .views-field-nothing{
                        .cont{
                            position: relative;
                            .paralax-image{
                                overflow: hidden;
                                height: 515px;
                                position: relative;
                                img{
                                    position: absolute;
                                    height: 100vh;
                                    min-width:100%;
                                }
                            }
                            .overlay-text{
                                width: 50%;
                                float: right;
                                position: absolute;
                                right: 0;
                                top: 0;
                                background-image: #FFF;
                                height: 100%;
                                padding-top: 130px;
                                .title{
                                    color: #4A4A4A;
                                    font-size: 36px;
                                    font-weight: bold;
                                    line-height: 44px;
                                }
                                .title::after{
                                    content: "";
                                    display: block;
                                    width: 215px;
                                    height: 3px;
                                    background-color: #FFB500;
                                    margin-top: 5px;
                                }
                                .body{
                                    color: #4A4A4A;
                                    font-size: 18px;
                                    line-height: 30px;

                                    padding-bottom: 13px;
                                }
                                .link{
                                    a{
                                        color: #FFFFFF;
                                        font-size: 16px;
                                        font-weight: bold;
                                        line-height: 19px;
                                        text-align: center;
                                        width: 166px;
                                        display: block;
                                        background-color: #0083D1;
                                        border-radius: 5px;
                                        padding:11px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer{
    background-color: #0083D1;
    padding-top: 35px;
    > .container{
        padding-bottom: 55px;
    }
    .footer-left{
        padding-top: 57px;
        h2{
            color: #FFFFFF;
            font-size: 16px;
            font-weight: bold;
            line-height: 19px;
        }
        h2::after{
            content: "";
            display: block;
            width: 160px;
            height: 3px;
            background-color: #FFB500;
            margin-top: 5px;
        }
        ul.menu{
            li{
                a{
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 30px;
                    padding:0;
                }
                a:hover , a:focus{
                    background: transparent;
                }
            }
        }
    }
    .footer-left5{
        padding-top:0;
        p{
            color: #FFFFFF;
            font-size: 14px;
            font-weight: bold;
            line-height: 30px;
        }
    }
    .footer-left1{
        padding-top:0;
    }
    .bottom{
        background-color: #4A4A4A;
        padding-top: 14px;
        padding-bottom: 7px;
        #block-copyright{
            float:left;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 17px;
        }
        #block-socialmedia{
            float:right;
            h2{
                display: inline-block;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: bold;
                line-height: 17px;
                vertical-align: super;
                margin:0;
                text-transform: uppercase;
                padding-right: 10px;
                padding-left:10px;
            }
            ul.menu{
                display: inline-block;
                li{
                    margin-right: 13px;
                    a{
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background: #FFF;
                        padding: 0;
                        color: #FFF;
                        padding-left: 5px;
                        padding-top: 1px;
                    }
                    a::before{
                        color: #4A4A4A;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
