// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: black;  
    font-size:18px;
}
.help{
    .region-help{
        background-color: inherit;
        border: 0px;
        padding: 0px;
        margin-bottom: 0px;
        span.glyphicon-question-sign{
            display:none;
        }
    }
}
.front_content_1{
    .view{
        .views-row{
            .views-field-title{
                a{
                    font-size: 36px;
                    font-weight: bold;
                    color: #FFFFFF;
                } 
                a:before{
                    content:url('../images/2border.png');
                }
            }
        }
    }
}

.block-views{
    h2.block-title{
        text-align: center;
        color: #000000;
        font-size: 30px;
        font-weight: bold;
    }
    .views-row{
        margin-bottom: 20px;
        .views-field-nothing{
            position: relative;
            .field-content{
                float: left;
                position: relative;
            }
            .image{
                position: relative;
                #gradient{
                    display: block;
                    width: 100%;
                    height: 65%;
                    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
                    position: absolute;
                    bottom: 0;
                }
                img{
                    width: 100%;
                }
            }
            .second_content{
                position: absolute;
                bottom: 37px;
                left: 0;
                right: 0;
                margin: 0px auto;
                display: block;
                padding: 0px 20px;
                .title{
                    margin:10px 0px;
                    a{
                        display: block;
                        text-align: center;
                        color: #fff;
                        font-size: 24px;
                        font-weight: bold;
                    }
                    a:hover , a:focus{
                        text-decoration: none;
                    }
                }
                .date{
                    font-weight: bold;
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                }
                .body{
                    display: block;
                    text-align: center;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}
footer{
    background-color: #262626;
    padding: 40px 0px;
    margin-top: 80px;
    ul.menu{
        li{
            a{
                color:#fff;
            }
            a:hover , a:focus{
                background-color: transparent;
            }
        }
    }
    .footer_bottom{
        color:#fff;
        a{
            color:#fff;
        }
    }
}
ul.menu--social-media{
    li{
        float:left;
        a{
            font-size: 0px;
        }
        a::before{
            font-family: FontAwesome !important;
            font-size: 18px;
        }
    }
}  