/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12-Feb-2018, 12:47:56
    Author     : lhmeid
*/
@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700');

[dir="rtl"] {
    body {
        font-family: 'Cairo', sans-serif;
    }
    //Ammar
    header {
        .top-header{
            #block-topmenu{
                float: left;
                ul.nav
                {
                    li{
                        border-right: 0px solid #FFF;
                        border-left: 1px solid #FFF;
                    }
                    li:last-child{
                        border-left: 0px solid #FFF;
                    }
                }
            }
            .language-switcher-language-url{
                float: left;
            }
        }
        .bottom-header{
            .header_left{
                float: right;
                .pull-left {
                    float: right !important;
                    display:none;
                }
                .logo-ar{
                  display:block;
                  a{
                    img{
                      max-width: 200px;
                    }
                  }
                }
            }
            .header_center{
                float: right;
                font-weight: 200;
                p{
                    font-weight: 200;
                }
            }
            .header_right{
                float: left;
                #block-exposedformsearch-apipage-1 {
                    float: left;
                }
                ul.menu--social-media{
                    padding: 0;
                }
                #block-socialmedia-2 ul.menu li a {
                    padding-right: 5px;
                    padding-left: 0px;
                }
            }
        }
        .menu-region {
            #block-mainnavigation{
                ul.sf-menu{
                    float: left;
                    width: 100%;
                }
                ul.menu > li{
                    float: right;
                    span{
                        border-left: 1px solid #FFF;
                        border-right: 0px solid #FFF;
                    }
                    a{
                        border-left: 1px solid #FFF;
                        border-right: 0px solid #FFF;
                    }
                    ul{
                        li{
                            a,span{
                                border-left: 0px solid #FFF;
                            }
                        }
                    }
                }
            }
        }
    }
    #slick-views-dynamic-header-block-1-1-slider{
        direction: ltr;
    }
    .slick-slide {
        float: left;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent{
        direction: rtl;
    }

    .front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text{
        float: right;
        right: inherit;
        left: 0;
    }
    //End of ammar
    .front_content_1 {
        .view{
            .views-row{
                .views-field-title{
                    left: inherit;
                    right: 85px;
                }
            }
        }
    }
    .front_content_2{
        .news{
            float: right;
            .view{
                .views-row {
                    .views-field-field-image{
                        float: right;
                        margin-right: 0px;
                        margin-left: 15px;
                    }
                }
                .view-footer{
                    a, a.en{
                        display:none;
                    }
                    a.ar{
                        display:block;
                    }
                }
            }
        }
        .announcement{
            float: right;
            .views-row{
                .views-field-field-date{
                    float: right;
                    margin-right: 0px;
                    margin-left: 23px;
                }
            }
            .view-footer{
                a.ar{
                    display:block;
                }
                a.en{
                    display:none;
                }
            }
        }
        .simplenews{
            float: left;
        }
    }
    .front_content_4{
        .left{
            float: right;
        }
        .right{
            float: left;
        }
        h1.block-title{
            a.ar{
                display:block;
            }
            a.en{
                display:none;
            }
        }
    }
    #footer .footer-left{
        float: right;
        nav{
            ul{
                padding: 0px;
            }
        }
    }
    #footer .bottom #block-socialmedia{
        float: left;
    }
    #footer .bottom #block-copyright{
        float: right;
    }
    #footer .bottom #block-socialmedia ul.menu{
        padding: 0;
    }
    #footer .bottom #block-socialmedia ul.menu li a{
        padding-right: 5px;
        padding-left: 0px;
    }
    .page-node-type-page,
    .page-node-type-announcement,
    .page-node-type-news{
        .bs-region--left{
            float: right;
        }
        .bs-region--right{
            float: left;
        }
    }
    #content{
        .left-content{
            float: right;
        }
        .right-content{
            float: left;
        }
    }
    .path-news-events #content .container > .col-md-9 .view-content .views-row .views-field-nothing .left{
        float: right;
    }
    .page-node-type-admission .field--name-field-admission .field--item,
    .page-node-type-academics .field--name-field-admission .field--item,
    .page-node-type-academics-name .field--name-field-admission .field--item,
    .page-node-type-administrative .field--name-field-admission .field--item{
        .bx-wrapper{
            .bx-viewport{
                direction: ltr;
            }
        }
    }
    .page-node-type-media-gallery #content .slideshow .bx-wrapper{
        .bx-viewport{
            direction: ltr;
        }
    }
    .page-node-type-media-gallery #content .slideshow .bx-wrapper{
        float: right;

    }
    header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button:before{
        content: "\e003";
        font-size: 16px;
        color: #969696;
        font-family: 'Glyphicons Halflings';
    }
    header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button{
        top: -4px;
        left: 0;
        right:auto;
    }
    .page-node-type-webform{
        .header_right{
            form{
                .form-actions{
                    button{
                        top: -4px;
                        left: 0;
                    }
                    button:before{
                        content: "\e003";
                        font-size: 16px;
                        color: #969696;
                        font-family: 'Glyphicons Halflings';
                    }
                }
            }
        }
    }
    .path-successive-presidents #content .region-content .bx-wrapper{
        .bx-viewport{
            direction: ltr;
        }
    }
    .path-presidency #content .region-content .view-content .views-row .views-field-field-image{
        float: right;
        padding-left: 20px;
        padding-right: 0px;
    }
    .path-presidency #content .region-content .view-content .views-row .views-field-title{
        left: inherit;
        right: 0;
    }
    #block-views-block-about-aau-block-1 .bx-wrapper .bx-viewport{
        direction: ltr;
    }
    .view-employees .views-row .views-field-field-image{
        float: right;
        padding-left: 20px;
        padding-right: 0;
    }
    .view-employees .views-row .views-field-title{
        left: inherit;
        right: 0;
    }
    header .menu-region #block-mainnavigation ul.menu > li ul li a{
        text-align: right;
    }
    header .menu-region #block-mainnavigation ul.menu > li.menuparent > a::after, header .menu-region #block-mainnavigation ul.menu > li.menuparent > span::after{
        right: inherit;
        left: 22px;
    }
    header .menu-region #block-mainnavigation ul.menu > li:last-child a{
        border-left: 0px solid #FFF;
    }
    .path-awards-certificates .content-content .views-row{
        float:right;
    }
    .paragraph--type--faq-collapses .field--name-field-title:after{
        float: left;
        content: url(../images/right-arrow-collapses-ar.png);
    }
    .paragraph--type--faq-collapses .field--name-field-title.opened-content:after{
        content: url(../images/up-arrow.png);
    }
    .page-node-type-admission .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title:after, .page-node-type-academics .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title:after, .page-node-type-academics-name .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title:after,.page-node-type-administrative .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title:after{
        content: url(../images/right-arrow-collapses-ar.png);
        float: left;
    }
    .page-node-type-admission .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title.opened-content:after, .page-node-type-academics .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title.opened-content:after, .page-node-type-academics-name .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title.opened-content:after,.page-node-type-administrative .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title.opened-content:after{
        content: url(../images/up-arrow.png);
    }
    .path-boards #content .view-content .bx-wrapper{
        direction: ltr;
    }
    .path-regulations #content .region-content .view-content .table-responsive caption{
        text-align: right;
    }
    .field--name-field-admission .paragraph--type-employees .bs-region--left{
        float: right;
    }
    .field--name-field-admission .paragraph--type-employees .bs-region--left .field--name-field-full-name{
        right: 0;
        left: inherit;
    }
    .page-node-type-page .field--name-field-image-and-name{
        .field--name-field-name{
            left: inherit;
            right: 0;
        }
    }
    header .bottom-header .header_right #block-socialmedia-2{
        float: left;
    }
    .field--name-field-image-and-name .field--name-field-name, .paragraph--type--name-body .field--name-field-name{
        left: inherit;
        right: 0;
    }
    ul.sf-menu .sf-sub-indicator:after{
        content: '';
    }

    .page-node-type-news {
        .field--name-field-image {
            float: left;
        }
    }
    header .menu-region #block-mainnavigation ul.menu > li:nth-child(4) ul{
        left: 0 !important;
    right: 0 !important;
    }
    .page-node-type-page .paragraph--type--pdf .bx-viewport{
            direction: ltr;
    }
    .tabs-left > .nav-tabs {
        float: right;
    }
}


