/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Feb-2018, 12:47:56
    Author     : lhmeid
*/
@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700');

[dir="rtl"] {
    body {
        font-family: 'Cairo', sans-serif;
    }
    //Ammar
    header {
        .top-header{
            #block-topmenu{
                float: left;
                ul.nav 
                {
                    li{
                        border-right: 0px solid #FFF;
                        border-left: 1px solid #FFF;
                    }
                    li:last-child{
                        border-left: 0px solid #FFF;
                    } 
                }
            }
            .language-switcher-language-url{
                float: left; 
            }
        }
        .bottom-header{
            .header_left{
                float: right;
                .pull-left {
                    float: right !important;
                } 
            }
            .header_center{
                float: right;
                font-weight: 200;
                p{
                    font-weight: 200;
                }
            }
            .header_right{
                float: left;
                #block-exposedformsearch-apipage-1 {
                    float: left;
                }
                ul.menu--social-media{
                    padding: 0;
                }
                #block-socialmedia-2 ul.menu li a {
                    padding-right: 5px;
                    padding-left: 0px;
                }
            }
        } 
        .menu-region {
            #block-mainnavigation{
                ul.sf-menu{
                    float: left;
                    width: 100%;  
                }
                ul.menu > li{
                    float: right;
                    span{
                        border-left: 1px solid #FFF;
                        border-right: 0px solid #FFF;
                    }
                    a{
                        border-left: 1px solid #FFF;
                        border-right: 0px solid #FFF;  
                    }
                    ul{
                        li{
                            a,span{
                                border-left: 0px solid #FFF;
                            }
                        }
                    }
                } 
            }
        }  
    }
    #slick-views-dynamic-header-block-1-1-slider{
        direction: ltr; 
    }
    .slick-slide {
        float: left;
    }
    .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent{
        direction: rtl;  
    }

    .front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text{
        float: right;  
        right: inherit;
        left: 0;
    }
    //End of ammar
    .front_content_1 {
        .view{
            .views-row{
                .views-field-title{
                    left: inherit;
                    right: 85px;
                }
            } 
        }
    } 
    .front_content_2{
        .news{
            float: right;  
            .view{
                .views-row {
                    .views-field-field-image{
                        float: right;
                        margin-right: 0px;
                        margin-left: 15px;
                    }
                } 
                .view-footer{
                    a, a.en{
                        display:none;  
                    }
                    a.ar{
                        display:block;
                    }
                }
            }
        }
        .announcement{
            float: right;
            .views-row{
                .views-field-field-date{
                    float: right;
                    margin-right: 0px;
                    margin-left: 23px;
                }
            }
            .view-footer{
                a.ar{
                    display:block;
                }
                a.en{
                    display:none;  
                }
            }
        }
        .simplenews{
            float: left; 
        }
    }
    .front_content_4{
        .left{
            float: right; 
        }
        .right{
            float: left; 
        }
        h1.block-title{   
            a.ar{
                display:block;
            }
            a.en{
                display:none;
            }
        }
    }
    #footer .footer-left{
        float: right;
        nav{
            ul{
                padding: 0px;
            }
        }
    }
    #footer .bottom #block-socialmedia{
        float: left;
    }
    #footer .bottom #block-copyright{
        float: right;
    }
    #footer .bottom #block-socialmedia ul.menu{
        padding: 0;
    }
    #footer .bottom #block-socialmedia ul.menu li a{
        padding-right: 5px;
        padding-left: 0px;
    }
    .page-node-type-page,
    .page-node-type-announcement,
    .page-node-type-news{
        .bs-region--left{
            float: right;
        }
        .bs-region--right{
            float: left;
        }
    }
    #content{
        .left-content{
            float: right;
        }
        .right-content{
            float: left;
        }
    }
    .path-news-events #content .container > .col-md-9 .view-content .views-row .views-field-nothing .left{
        float: right;
    }
    .page-node-type-admission .field--name-field-admission .field--item,
    .page-node-type-academics .field--name-field-admission .field--item,
    .page-node-type-academics-name .field--name-field-admission .field--item{
        .bx-wrapper{
            .bx-viewport{
                direction: ltr;
            }
        }
    }
    .page-node-type-media-gallery #content .slideshow .bx-wrapper{
        .bx-viewport{
            direction: ltr;
        }
    }
    .page-node-type-media-gallery #content .slideshow .bx-wrapper{
        float: right;

    }
    header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button:before{
        content: "\e003";
        font-size: 16px;
        color: #969696;
        font-family: 'Glyphicons Halflings';
    }
    header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button{
        top: -4px;
        left: 0; 
    }
}
.page-node-type-webform{
    .header_right{
        form{
            .form-actions{
                button{
                        top: -4px;
                            left: 0;
                }
                button:before{
                    content: "\e003";
                    font-size: 16px;
                    color: #969696;
                    font-family: 'Glyphicons Halflings';
                }
            }
        }
    }
}
.path-successive-presidents #content .region-content .bx-wrapper{
    .bx-viewport{
            direction: ltr;
    }
    
}