/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:10 PM
    Author     : aqasem
*/
header{
    .top-header{
        background-color: #4A4A4A;
        text-align:right;
        padding: 4px 70px;
        #block-topmenu{
            display:inline-block;
            ul.nav{
                li{
                    display:inline-block;
                    border-right: 1px solid #FFF;
                    line-height: 14px;
                    padding: 0 8px;
                    a{
                        color: #FFFFFF;
                        font-size: 14px;
                        text-transform: uppercase;
                        padding:0;
                    }
                    a:hover , a:focus{
                        background: transparent;
                    }
                }
                li:last-child{
                    border:0;
                }
            }
        }
        .language-switcher-language-url{
            display:inline-block;
            ul.links{
                list-style: none;
                padding:0;
                margin:0;
                li{
                    a{
                        color: #FFFFFF;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 0;
                        
                    }
                }
                li.is-active{
                    display: none;
                }
                
            }
        }
    }
}