/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:37 PM
    Author     : aqasem
*/
@media screen and (max-width: 1199px) {
  /* line 11, ../sass/responsive.scss */
  .front_content_1 .view .views-row .views-field-title a {
    font-size: 24px;
  }

  /* line 14, ../sass/responsive.scss */
  .front_content_2 .announcement .views-row .views-field-field-date {
    margin-right: 8px;
  }

  /* line 17, ../sass/responsive.scss */
  .front_content_2 .announcement .views-row .views-field-title a {
    font-size: 14px;
  }

  /* line 20, ../sass/responsive.scss */
  .front_content_2 .simplenews .simplenews-subscriber-form {
    padding: 0px 20px;
  }

  /* line 23, ../sass/responsive.scss */
  .front_content_2 .simplenews .simplenews-subscriber-form form .field--type-email input,
  .front_content_2 .simplenews .simplenews-subscriber-form form .form-actions button {
    width: 88%;
  }

  /* line 27, ../sass/responsive.scss */
  .front_content_4 .right .view .views-row {
    width: 46.2%;
  }

  /* line 30, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2 {
    max-width: 650px;
  }
}
@media screen and (max-width: 1025px) {
  /* line 35, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
    top: 20px;
  }

  /* line 38, ../sass/responsive.scss */
  .sf-accordion-toggle {
    text-align: right;
  }

  /* line 41, ../sass/responsive.scss */
  .responsive-menus.responsified span.toggler {
    background: #4A4A4A;
    box-shadow: none;
    font-size: 18px;
  }

  /* line 46, ../sass/responsive.scss */
  .responsive-menus.responsified .responsive-menus-simple {
    background: #4A4A4A;
    box-shadow: none;
  }

  /* line 50, ../sass/responsive.scss */
  .responsive-menus.responsified .responsive-menus-simple li a {
    padding: 10px;
    font-size: 14px;
  }
}
