/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:37 PM
    Author     : aqasem
*/
@media screen and (max-width: 1199px) {
  /* line 11, ../sass/responsive.scss */
  .front_content_1 .view .views-row .views-field-title a {
    font-size: 24px;
  }

  /* line 14, ../sass/responsive.scss */
  .front_content_2 .announcement .views-row .views-field-field-date {
    margin-right: 8px;
  }

  /* line 17, ../sass/responsive.scss */
  .front_content_2 .announcement .views-row .views-field-title a {
    font-size: 14px;
  }

  /* line 20, ../sass/responsive.scss */
  .front_content_2 .simplenews .simplenews-subscriber-form {
    padding: 0px 20px;
  }

  /* line 23, ../sass/responsive.scss */
  .front_content_2 .simplenews .simplenews-subscriber-form form .field--type-email input,
  .front_content_2 .simplenews .simplenews-subscriber-form form .form-actions button {
    width: 88%;
  }

  /* line 27, ../sass/responsive.scss */
  .front_content_4 .right .view .views-row {
    width: 46.2%;
  }

  /* line 30, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2 {
    max-width: 650px;
  }
}
@media screen and (max-width: 1025px) {
  /* line 35, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
    top: 20px;
  }

  /* line 38, ../sass/responsive.scss */
  .sf-accordion-toggle {
    text-align: center;
    padding: 7px 0px;
  }

  /* line 43, ../sass/responsive.scss */
  .sf-accordion-toggle a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  /* line 49, ../sass/responsive.scss */
  .responsive-menus.responsified span.toggler {
    background: #4A4A4A;
    box-shadow: none;
    font-size: 18px;
    position: absolute;
    top: -23px;
    right: 45px;
  }

  /* line 57, ../sass/responsive.scss */
  .responsive-menus.responsified .responsive-menus-simple {
    background: #4A4A4A;
    box-shadow: none;
  }

  /* line 61, ../sass/responsive.scss */
  .responsive-menus.responsified .responsive-menus-simple li a {
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }

  /* line 66, ../sass/responsive.scss */
  .responsive-menus.responsified {
    position: relative;
  }

  /* line 69, ../sass/responsive.scss */
  header .menu-region #block-mainnavigation ul.menu > li {
    width: 100%;
  }

  /* line 72, ../sass/responsive.scss */
  header .menu-region #block-mainnavigation ul.menu > li > a, header .menu-region #block-mainnavigation ul.menu > li span {
    border-left: 0px;
    border-right: 0px;
  }

  /* line 76, ../sass/responsive.scss */
  header .menu-region {
    clear: both;
  }

  /* line 79, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
    position: relative;
    top: 0;
    padding-top: 20px;
  }

  /* line 84, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1 {
    color: #0083D1;
    font-size: 25px;
    text-align: center;
  }

  /* line 89, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1::after {
    margin: 0px auto;
    margin-top: 5PX;
  }

  /* line 93, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2 {
    color: #0083D1;
    font-size: 16px;
    text-align: center;
    max-width: 100%;
  }

  /* line 99, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link a {
    margin: 0px auto;
    margin-top: 15px;
  }

  /* line 103, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link a {
    width: 33%;
  }

  /* line 106, ../sass/responsive.scss */
  .block-views-blockmedia-gallery-block-1 {
    margin-bottom: 30px;
  }

  /* line 109, ../sass/responsive.scss */
  .front_content_4 .right .view .views-row {
    width: 37%;
    float: left;
  }

  /* line 113, ../sass/responsive.scss */
  .front_content_4 h1:after {
    text-align: left;
    margin: 0;
  }

  /* line 117, ../sass/responsive.scss */
  .front_content_4 h1.block-title {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 122, ../sass/responsive.scss */
  .front_content_4 {
    padding-top: 33px;
  }
}
@media screen and (max-width: 768px) {
  /* line 128, ../sass/responsive.scss */
  header .bottom-header .header_center {
    display: none;
  }

  /* line 131, ../sass/responsive.scss */
  header .bottom-header .header_right #block-socialmedia-2 {
    display: none;
  }

  /* line 134, ../sass/responsive.scss */
  header .bottom-header .header_right {
    width: 50%;
    padding-top: 80px;
  }

  /* line 139, ../sass/responsive.scss */
  header .bottom-header .header_left {
    width: 50%;
  }

  /* line 142, ../sass/responsive.scss */
  header .bottom-header {
    padding: 15px 20px;
    float: left;
    width: 100%;
  }

  /* line 146, ../sass/responsive.scss */
  #footer {
    text-align: center;
  }

  /* line 149, ../sass/responsive.scss */
  #footer .footer-left h2::after {
    margin: 0px auto;
    margin-top: 5px;
  }

  /* line 153, ../sass/responsive.scss */
  #footer .footer-left {
    padding-top: 20px;
  }
}
