/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:37 PM
    Author     : aqasem
*/
@media screen and (max-width: 1199px) {
  /* line 11, ../sass/responsive.scss */
  .front_content_1 .view .views-row .views-field-title a {
    font-size: 24px;
  }

  /* line 14, ../sass/responsive.scss */
  .front_content_2 .announcement .views-row .views-field-field-date {
    margin-right: 8px;
  }

  /* line 17, ../sass/responsive.scss */
  .front_content_2 .announcement .views-row .views-field-title a {
    font-size: 14px;
  }

  /* line 20, ../sass/responsive.scss */
  .front_content_2 .simplenews .simplenews-subscriber-form {
    padding: 0px 20px;
  }

  /* line 23, ../sass/responsive.scss */
  .front_content_2 .simplenews .simplenews-subscriber-form form .field--type-email input,
  .front_content_2 .simplenews .simplenews-subscriber-form form .form-actions button {
    width: 88%;
  }

  /* line 27, ../sass/responsive.scss */
  .front_content_4 .right .view .views-row {
    width: 46.2%;
  }

  /* line 30, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2 {
    max-width: 650px;
  }

  /* line 33, ../sass/responsive.scss */
  .page-node-type-media-gallery #content .slideshow .bx-wrapper:first-of-type {
    width: 743px;
  }
}
@media screen and (max-width: 1025px) {
  /* line 38, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
    top: 20px;
  }

  /* line 41, ../sass/responsive.scss */
  .sf-accordion-toggle {
    text-align: center;
    padding: 7px 0px;
  }

  /* line 46, ../sass/responsive.scss */
  .sf-accordion-toggle a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  /* line 52, ../sass/responsive.scss */
  .responsive-menus.responsified span.toggler {
    background: #4A4A4A;
    box-shadow: none;
    font-size: 18px;
    position: absolute;
    top: -23px;
    right: 45px;
  }

  /* line 60, ../sass/responsive.scss */
  .responsive-menus.responsified .responsive-menus-simple {
    background: #4A4A4A;
    box-shadow: none;
  }

  /* line 64, ../sass/responsive.scss */
  .responsive-menus.responsified .responsive-menus-simple li a {
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }

  /* line 69, ../sass/responsive.scss */
  .responsive-menus.responsified {
    position: relative;
  }

  /* line 72, ../sass/responsive.scss */
  header .menu-region #block-mainnavigation ul.menu > li {
    width: 100%;
  }

  /* line 75, ../sass/responsive.scss */
  header .menu-region #block-mainnavigation ul.menu > li > a, header .menu-region #block-mainnavigation ul.menu > li span {
    border-left: 0px;
    border-right: 0px;
  }

  /* line 79, ../sass/responsive.scss */
  header .menu-region {
    clear: both;
  }

  /* line 82, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
    position: relative;
    top: 0;
    padding-top: 20px;
  }

  /* line 87, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1 {
    color: #0083D1;
    font-size: 25px;
    text-align: center;
  }

  /* line 92, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1::after {
    margin: 0px auto;
    margin-top: 5PX;
  }

  /* line 96, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2 {
    color: #0083D1;
    font-size: 16px;
    text-align: center;
    max-width: 100%;
  }

  /* line 102, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link a {
    margin: 0px auto;
    margin-top: 15px;
  }

  /* line 106, ../sass/responsive.scss */
  .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link a {
    width: 33%;
  }

  /* line 109, ../sass/responsive.scss */
  .block-views-blockmedia-gallery-block-1 {
    margin-bottom: 30px;
  }

  /* line 112, ../sass/responsive.scss */
  .front_content_4 .right .view .views-row {
    width: 37%;
    float: left;
  }

  /* line 116, ../sass/responsive.scss */
  .front_content_4 h1:after {
    text-align: left;
    margin: 0;
  }

  /* line 120, ../sass/responsive.scss */
  .front_content_4 h1.block-title {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 125, ../sass/responsive.scss */
  .front_content_4 {
    padding-top: 33px;
  }

  /* line 128, ../sass/responsive.scss */
  .image_header h1.page-header {
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0px 30px;
    top: 40px;
    margin-bottom: 39px;
    color: #FFB500;
    font-size: 23px;
  }

  /* line 140, ../sass/responsive.scss */
  .path-notfront #content > .container > .col-md-3 {
    float: none;
    width: 100%;
    margin-bottom: 25px;
  }

  /* line 145, ../sass/responsive.scss */
  .path-notfront #content > .container > .col-md-9 {
    float: none;
    width: 100%;
  }

  /* line 149, ../sass/responsive.scss */
  .page-node-type-media-gallery #content .slideshow .bx-wrapper:nth-of-type(2) {
    display: none;
  }

  /* line 152, ../sass/responsive.scss */
  .page-node-type-media-gallery #content .slideshow .bx-wrapper:first-of-type .bx-controls {
    display: block;
  }

  /* line 155, ../sass/responsive.scss */
  .path-notfront #content {
    padding-top: 0px;
  }

  /* line 158, ../sass/responsive.scss */
  .path-notfront #content > .container > .col-md-3 .sf-accordion-toggle {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 163, ../sass/responsive.scss */
  header .bottom-header .header_center {
    display: none;
  }

  /* line 166, ../sass/responsive.scss */
  header .bottom-header .header_right #block-socialmedia-2 {
    display: none;
  }

  /* line 169, ../sass/responsive.scss */
  header .bottom-header .header_right {
    width: 50%;
    padding-top: 80px;
  }

  /* line 174, ../sass/responsive.scss */
  header .bottom-header .header_left {
    width: 50%;
  }

  /* line 177, ../sass/responsive.scss */
  header .bottom-header {
    padding: 15px 20px;
    float: left;
    width: 100%;
  }

  /* line 181, ../sass/responsive.scss */
  #footer {
    text-align: center;
  }

  /* line 184, ../sass/responsive.scss */
  #footer .footer-left h2::after {
    margin: 0px auto;
    margin-top: 5px;
  }

  /* line 188, ../sass/responsive.scss */
  #footer .footer-left {
    padding-top: 20px;
  }

  /* line 191, ../sass/responsive.scss */
  .front_content_2 .simplenews .simplenews-subscriber-form {
    margin-top: 28px;
  }

  /* line 194, ../sass/responsive.scss */
  .front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .paralax-image img {
    height: auto;
    top: 0px !important;
  }

  /* line 199, ../sass/responsive.scss */
  .front_content_1 .view .views-row .views-field-title a {
    width: 100%;
  }

  /* line 202, ../sass/responsive.scss */
  .front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text {
    width: 100%;
    right: 0;
    padding-left: 38px;
    padding-right: 38px;
    float: none;
  }

  /* line 209, ../sass/responsive.scss */
  .path-notfront #content > .container > .col-md-3 .block-superfish ul.menu {
    display: block !important;
  }
}
@media screen and (max-width: 736px) {
  /* line 214, ../sass/responsive.scss */
  .front_content_1 .view .views-row {
    position: relative;
    width: 75%;
    float: none;
    display: table;
    margin: 0px auto;
    margin-bottom: 30px;
  }

  /* line 222, ../sass/responsive.scss */
  #footer .bottom #block-copyright {
    float: none;
    margin-bottom: 20px;
  }

  /* line 226, ../sass/responsive.scss */
  #footer .bottom #block-socialmedia {
    float: none;
  }
}
@media screen and (max-width: 667px) {
  /* line 231, ../sass/responsive.scss */
  .front_content_4 .right .view .views-row {
    width: 42%;
  }
}
@media screen and (max-width: 555px) {
  /* line 236, ../sass/responsive.scss */
  header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline .form-type-textfield input {
    width: 100%;
  }

  /* line 239, ../sass/responsive.scss */
  header .bottom-header .header_left {
    width: 100%;
    float: none;
  }

  /* line 243, ../sass/responsive.scss */
  header .bottom-header .header_right {
    width: 100%;
    padding-top: 20px;
    float: left;
  }
}
