/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Feb-2018, 12:47:56
    Author     : lhmeid
*/
@import url("https://fonts.googleapis.com/css?family=Cairo:600,700");
/* line 13, ../sass/style-rtl.scss */
[dir="rtl"] body {
  font-family: 'Cairo', sans-serif;
}
/* line 19, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu {
  float: left;
}
/* line 23, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li {
  border-right: 0px solid #FFF;
  border-left: 1px solid #FFF;
}
/* line 27, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li:last-child {
  border-left: 0px solid #FFF;
}
/* line 32, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header .language-switcher-language-url {
  float: left;
}
/* line 37, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left {
  float: right;
}
/* line 39, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left .pull-left {
  float: right !important;
}
/* line 43, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_center {
  float: right;
}
/* line 46, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right {
  float: left;
}
/* line 48, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-exposedformsearch-apipage-1 {
  float: left;
}
/* line 51, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right ul.menu--social-media {
  padding: 0;
}
/* line 54, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-socialmedia-2 ul.menu li a {
  padding-right: 5px;
  padding-left: 0px;
}
/* line 62, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.sf-menu {
  float: left;
  width: 100%;
}
/* line 66, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li {
  float: right;
}
/* line 68, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li span {
  border-left: 1px solid #FFF;
  border-right: 0px solid #FFF;
}
