/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:10 PM
    Author     : aqasem
*/
/* line 11, ../sass/style1.scss */
header .top-header {
  background-color: #4A4A4A;
  text-align: right;
  padding: 13px 70px;
}
/* line 15, ../sass/style1.scss */
header .top-header #block-topmenu {
  display: inline-block;
}
/* line 18, ../sass/style1.scss */
header .top-header #block-topmenu ul.nav li {
  display: inline-block;
  border-right: 1px solid #FFF;
  line-height: 14px;
  padding: 0 8px;
}
/* line 23, ../sass/style1.scss */
header .top-header #block-topmenu ul.nav li a {
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
}
/* line 29, ../sass/style1.scss */
header .top-header #block-topmenu ul.nav li a:hover, header .top-header #block-topmenu ul.nav li a:focus {
  background: transparent;
}
/* line 33, ../sass/style1.scss */
header .top-header #block-topmenu ul.nav li:last-child {
  border: 0;
}
/* line 38, ../sass/style1.scss */
header .top-header .language-switcher-language-url {
  display: inline-block;
}
/* line 40, ../sass/style1.scss */
header .top-header .language-switcher-language-url ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 45, ../sass/style1.scss */
header .top-header .language-switcher-language-url ul.links li a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}
/* line 53, ../sass/style1.scss */
header .top-header .language-switcher-language-url ul.links li.is-active {
  display: none;
}
/* line 60, ../sass/style1.scss */
header .bottom-header {
  padding: 15px 70px;
}
/* line 69, ../sass/style1.scss */
header .bottom-header .header_right #block-socialmedia-2 {
  display: inline-block;
}
/* line 72, ../sass/style1.scss */
header .bottom-header .header_right #block-exposedformsearch-apipage-1 {
  display: inline-block;
}
