/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12-Feb-2018, 12:47:56
    Author     : lhmeid
*/
@import url("https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700");
/* line 13, ../sass/style-rtl.scss */
[dir="rtl"] body {
  font-family: 'Cairo', sans-serif;
}
/* line 19, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu {
  float: left;
}
/* line 23, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li {
  border-right: 0px solid #FFF;
  border-left: 1px solid #FFF;
}
/* line 27, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li:last-child {
  border-left: 0px solid #FFF;
}
/* line 32, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header .language-switcher-language-url {
  float: left;
}
/* line 37, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left {
  float: right;
}
/* line 39, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left .pull-left {
  float: right !important;
  display: none;
}
/* line 43, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left .logo-ar {
  display: block;
}
/* line 46, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left .logo-ar a img {
  max-width: 200px;
}
/* line 52, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_center {
  float: right;
  font-weight: 200;
}
/* line 55, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_center p {
  font-weight: 200;
}
/* line 59, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right {
  float: left;
}
/* line 61, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-exposedformsearch-apipage-1 {
  float: left;
}
/* line 64, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right ul.menu--social-media {
  padding: 0;
}
/* line 67, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-socialmedia-2 ul.menu li a {
  padding-right: 5px;
  padding-left: 0px;
}
/* line 75, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.sf-menu {
  float: left;
  width: 100%;
}
/* line 79, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li {
  float: right;
}
/* line 81, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li span {
  border-left: 1px solid #FFF;
  border-right: 0px solid #FFF;
}
/* line 85, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li a {
  border-left: 1px solid #FFF;
  border-right: 0px solid #FFF;
}
/* line 91, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li ul li a, [dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li ul li span {
  border-left: 0px solid #FFF;
}
/* line 100, ../sass/style-rtl.scss */
[dir="rtl"] #slick-views-dynamic-header-block-1-1-slider {
  direction: ltr;
}
/* line 103, ../sass/style-rtl.scss */
[dir="rtl"] .slick-slide {
  float: left;
}
/* line 106, ../sass/style-rtl.scss */
[dir="rtl"] .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
  direction: rtl;
}
/* line 110, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text {
  float: right;
  right: inherit;
  left: 0;
}
/* line 119, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_1 .view .views-row .views-field-title {
  left: inherit;
  right: 85px;
}
/* line 127, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news {
  float: right;
}
/* line 131, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .views-row .views-field-field-image {
  float: right;
  margin-right: 0px;
  margin-left: 15px;
}
/* line 138, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .view-footer a, [dir="rtl"] .front_content_2 .news .view .view-footer a.en {
  display: none;
}
/* line 141, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .view-footer a.ar {
  display: block;
}
/* line 147, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement {
  float: right;
}
/* line 150, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .views-row .views-field-field-date {
  float: right;
  margin-right: 0px;
  margin-left: 23px;
}
/* line 157, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .view-footer a.ar {
  display: block;
}
/* line 160, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .view-footer a.en {
  display: none;
}
/* line 165, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .simplenews {
  float: left;
}
/* line 170, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_4 .left {
  float: right;
}
/* line 173, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_4 .right {
  float: left;
}
/* line 177, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_4 h1.block-title a.ar {
  display: block;
}
/* line 180, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_4 h1.block-title a.en {
  display: none;
}
/* line 185, ../sass/style-rtl.scss */
[dir="rtl"] #footer .footer-left {
  float: right;
}
/* line 188, ../sass/style-rtl.scss */
[dir="rtl"] #footer .footer-left nav ul {
  padding: 0px;
}
/* line 193, ../sass/style-rtl.scss */
[dir="rtl"] #footer .bottom #block-socialmedia {
  float: left;
}
/* line 196, ../sass/style-rtl.scss */
[dir="rtl"] #footer .bottom #block-copyright {
  float: right;
}
/* line 199, ../sass/style-rtl.scss */
[dir="rtl"] #footer .bottom #block-socialmedia ul.menu {
  padding: 0;
}
/* line 202, ../sass/style-rtl.scss */
[dir="rtl"] #footer .bottom #block-socialmedia ul.menu li a {
  padding-right: 5px;
  padding-left: 0px;
}
/* line 209, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-page .bs-region--left,
[dir="rtl"] .page-node-type-announcement .bs-region--left,
[dir="rtl"] .page-node-type-news .bs-region--left {
  float: right;
}
/* line 212, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-page .bs-region--right,
[dir="rtl"] .page-node-type-announcement .bs-region--right,
[dir="rtl"] .page-node-type-news .bs-region--right {
  float: left;
}
/* line 217, ../sass/style-rtl.scss */
[dir="rtl"] #content .left-content {
  float: right;
}
/* line 220, ../sass/style-rtl.scss */
[dir="rtl"] #content .right-content {
  float: left;
}
/* line 224, ../sass/style-rtl.scss */
[dir="rtl"] .path-news-events #content .container > .col-md-9 .view-content .views-row .views-field-nothing .left {
  float: right;
}
/* line 232, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-admission .field--name-field-admission .field--item .bx-wrapper .bx-viewport,
[dir="rtl"] .page-node-type-academics .field--name-field-admission .field--item .bx-wrapper .bx-viewport,
[dir="rtl"] .page-node-type-academics-name .field--name-field-admission .field--item .bx-wrapper .bx-viewport,
[dir="rtl"] .page-node-type-administrative .field--name-field-admission .field--item .bx-wrapper .bx-viewport {
  direction: ltr;
}
/* line 238, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-media-gallery #content .slideshow .bx-wrapper .bx-viewport {
  direction: ltr;
}
/* line 242, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-media-gallery #content .slideshow .bx-wrapper {
  float: right;
}
/* line 246, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button:before {
  content: "\e003";
  font-size: 16px;
  color: #969696;
  font-family: 'Glyphicons Halflings';
}
/* line 252, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button {
  top: -4px;
  left: 0;
  right: auto;
}
/* line 261, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-webform .header_right form .form-actions button {
  top: -4px;
  left: 0;
}
/* line 265, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-webform .header_right form .form-actions button:before {
  content: "\e003";
  font-size: 16px;
  color: #969696;
  font-family: 'Glyphicons Halflings';
}
/* line 276, ../sass/style-rtl.scss */
[dir="rtl"] .path-successive-presidents #content .region-content .bx-wrapper .bx-viewport {
  direction: ltr;
}
/* line 280, ../sass/style-rtl.scss */
[dir="rtl"] .path-presidency #content .region-content .view-content .views-row .views-field-field-image {
  float: right;
  padding-left: 20px;
  padding-right: 0px;
}
/* line 285, ../sass/style-rtl.scss */
[dir="rtl"] .path-presidency #content .region-content .view-content .views-row .views-field-title {
  left: inherit;
  right: 0;
}
/* line 289, ../sass/style-rtl.scss */
[dir="rtl"] #block-views-block-about-aau-block-1 .bx-wrapper .bx-viewport {
  direction: ltr;
}
/* line 292, ../sass/style-rtl.scss */
[dir="rtl"] .view-employees .views-row .views-field-field-image {
  float: right;
  padding-left: 20px;
  padding-right: 0;
}
/* line 297, ../sass/style-rtl.scss */
[dir="rtl"] .view-employees .views-row .views-field-title {
  left: inherit;
  right: 0;
}
/* line 301, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li ul li a {
  text-align: right;
}
/* line 304, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li.menuparent > a::after, [dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li.menuparent > span::after {
  right: inherit;
  left: 22px;
}
/* line 308, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li:last-child a {
  border-left: 0px solid #FFF;
}
/* line 311, ../sass/style-rtl.scss */
[dir="rtl"] .path-awards-certificates .content-content .views-row {
  float: right;
}
/* line 314, ../sass/style-rtl.scss */
[dir="rtl"] .paragraph--type--faq-collapses .field--name-field-title:after {
  float: left;
  content: url(../images/right-arrow-collapses-ar.png);
}
/* line 318, ../sass/style-rtl.scss */
[dir="rtl"] .paragraph--type--faq-collapses .field--name-field-title.opened-content:after {
  content: url(../images/up-arrow.png);
}
/* line 321, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-admission .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title:after, [dir="rtl"] .page-node-type-academics .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title:after, [dir="rtl"] .page-node-type-academics-name .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title:after, [dir="rtl"] .page-node-type-administrative .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title:after {
  content: url(../images/right-arrow-collapses-ar.png);
  float: left;
}
/* line 325, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-admission .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title.opened-content:after, [dir="rtl"] .page-node-type-academics .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title.opened-content:after, [dir="rtl"] .page-node-type-academics-name .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title.opened-content:after, [dir="rtl"] .page-node-type-administrative .field--name-field-admission .field--item .paragraph--type--collapses .field--name-field-title.opened-content:after {
  content: url(../images/up-arrow.png);
}
/* line 328, ../sass/style-rtl.scss */
[dir="rtl"] .path-boards #content .view-content .bx-wrapper {
  direction: ltr;
}
/* line 331, ../sass/style-rtl.scss */
[dir="rtl"] .path-regulations #content .region-content .view-content .table-responsive caption {
  text-align: right;
}
/* line 334, ../sass/style-rtl.scss */
[dir="rtl"] .field--name-field-admission .paragraph--type-employees .bs-region--left {
  float: right;
}
/* line 337, ../sass/style-rtl.scss */
[dir="rtl"] .field--name-field-admission .paragraph--type-employees .bs-region--left .field--name-field-full-name {
  right: 0;
  left: inherit;
}
/* line 342, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-page .field--name-field-image-and-name .field--name-field-name {
  left: inherit;
  right: 0;
}
/* line 347, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-socialmedia-2 {
  float: left;
}
/* line 350, ../sass/style-rtl.scss */
[dir="rtl"] .field--name-field-image-and-name .field--name-field-name, [dir="rtl"] .paragraph--type--name-body .field--name-field-name {
  left: inherit;
  right: 0;
}
/* line 354, ../sass/style-rtl.scss */
[dir="rtl"] ul.sf-menu .sf-sub-indicator:after {
  content: '';
}
/* line 359, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-news .field--name-field-image {
  float: left;
}
/* line 363, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li:nth-child(4) ul {
  left: 0 !important;
  right: 0 !important;
}
/* line 367, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-page .paragraph--type--pdf .bx-viewport {
  direction: ltr;
}
/* line 370, ../sass/style-rtl.scss */
[dir="rtl"] .tabs-left > .nav-tabs {
  float: right;
}
