/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 5:47:10 PM
    Author     : aqasem
*/
/* line 11, ../sass/style1.scss */
header .top-header {
  background-color: #4A4A4A;
  text-align: right;
  padding: 13px 70px;
}
/* line 15, ../sass/style1.scss */
header .top-header #block-topmenu {
  display: inline-block;
}
/* line 18, ../sass/style1.scss */
header .top-header #block-topmenu ul.nav li {
  display: inline-block;
  border-right: 1px solid #FFF;
  line-height: 14px;
  padding: 0 8px;
}
/* line 23, ../sass/style1.scss */
header .top-header #block-topmenu ul.nav li a {
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
}
/* line 29, ../sass/style1.scss */
header .top-header #block-topmenu ul.nav li a:hover, header .top-header #block-topmenu ul.nav li a:focus {
  background: transparent;
}
/* line 33, ../sass/style1.scss */
header .top-header #block-topmenu ul.nav li:last-child {
  border: 0;
}
/* line 38, ../sass/style1.scss */
header .top-header .language-switcher-language-url {
  display: inline-block;
}
/* line 40, ../sass/style1.scss */
header .top-header .language-switcher-language-url ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 45, ../sass/style1.scss */
header .top-header .language-switcher-language-url ul.links li a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}
/* line 53, ../sass/style1.scss */
header .top-header .language-switcher-language-url ul.links li.is-active {
  display: none;
}
/* line 60, ../sass/style1.scss */
header .bottom-header {
  padding: 15px 70px;
}
/* line 65, ../sass/style1.scss */
header .bottom-header .header_center {
  text-align: center;
  color: #9B9B9B;
  font-size: 27px;
  font-style: italic;
  font-weight: 300;
  padding-top: 40px;
}
/* line 74, ../sass/style1.scss */
header .bottom-header .header_right #block-socialmedia-2 {
  display: inline-block;
  float: right;
}
/* line 78, ../sass/style1.scss */
header .bottom-header .header_right #block-socialmedia-2 ul.menu li {
  margin-right: 13px;
}
/* line 80, ../sass/style1.scss */
header .bottom-header .header_right #block-socialmedia-2 ul.menu li a {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #646464;
  padding: 0;
  color: #FFF;
  padding-left: 5px;
  padding-top: 1px;
}
/* line 90, ../sass/style1.scss */
header .bottom-header .header_right #block-socialmedia-2 ul.menu li a::before {
  font-size: 15px;
}
/* line 96, ../sass/style1.scss */
header .bottom-header .header_right #block-exposedformsearch-apipage-1 {
  display: inline-block;
  float: right;
}
/* line 100, ../sass/style1.scss */
header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline {
  position: relative;
}
/* line 103, ../sass/style1.scss */
header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline .form-type-textfield input {
  width: 256px;
  border: 1px solid #C8C8C8;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
/* line 113, ../sass/style1.scss */
header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button {
  background: transparent;
  font-size: 0;
  border: 0;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 10px;
  top: 0;
}
/* line 122, ../sass/style1.scss */
header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button span {
  font-size: 16px;
  color: #969696;
}

/* line 143, ../sass/style1.scss */
.dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-field-image img {
  width: 100%;
}
/* line 148, ../sass/style1.scss */
.dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
  position: absolute;
  top: 230px;
}
/* line 151, ../sass/style1.scss */
.dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  display: none;
}
/* line 157, ../sass/style1.scss */
.dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1::after {
  content: "";
  display: block;
  width: 470px;
  height: 3px;
  background-color: #FFB500;
  margin-top: 5PX;
}
/* line 165, ../sass/style1.scss */
.dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 27px;
  max-width: 1110px;
  margin-top: 16px;
  display: none;
}
/* line 173, ../sass/style1.scss */
.dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link {
  display: none;
}
/* line 175, ../sass/style1.scss */
.dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 255px;
  background-color: #0083D1;
  display: block;
  padding: 14px;
  margin-top: 15px;
}
/* line 187, ../sass/style1.scss */
.dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text1.animated, .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .text2.animated, .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent .link.animated {
  display: block;
}

/* line 207, ../sass/style1.scss */
.front_content_3 > .container {
  width: 100%;
  padding: 0;
}
/* line 210, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 {
  padding: 0;
  width: 100%;
}
/* line 216, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont {
  position: relative;
}
/* line 218, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .paralax-image {
  overflow: hidden;
  height: 515px;
  position: relative;
}
/* line 222, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .paralax-image img {
  position: absolute;
  height: 100vh;
  min-width: 100%;
}
/* line 228, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text {
  width: 50%;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #FFF);
  /* Standard syntax (must be last) */
  height: 100%;
}
/* line 237, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text .title {
  color: #4A4A4A;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
}
/* line 243, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text .title::after {
  content: "";
  display: block;
  width: 215px;
  height: 3px;
  background-color: #FFB500;
  margin-top: 5px;
}
/* line 251, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text .body {
  color: #4A4A4A;
  font-size: 18px;
  line-height: 30px;
  padding-top: 130px;
  padding-bottom: 13px;
}
/* line 259, ../sass/style1.scss */
.front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text .link a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  width: 166px;
  display: block;
  background-color: #0083D1;
  border-radius: 5px;
  padding: 11px;
}

/* line 281, ../sass/style1.scss */
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
