/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Feb-2018, 12:47:56
    Author     : lhmeid
*/
/* line 14, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu {
  float: left;
}
/* line 16, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li {
  border-right: 0px solid #FFF;
  border-left: 1px solid #FFF;
}
/* line 21, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header .language-switcher-language-url {
  float: left;
}
