/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Feb-2018, 12:47:56
    Author     : lhmeid
*/
@import url("https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700");
/* line 13, ../sass/style-rtl.scss */
[dir="rtl"] body {
  font-family: 'Cairo', sans-serif;
}
/* line 19, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu {
  float: left;
}
/* line 23, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li {
  border-right: 0px solid #FFF;
  border-left: 1px solid #FFF;
}
/* line 27, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li:last-child {
  border-left: 0px solid #FFF;
}
/* line 32, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header .language-switcher-language-url {
  float: left;
}
/* line 37, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left {
  float: right;
}
/* line 39, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left .pull-left {
  float: right !important;
}
/* line 43, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_center {
  float: right;
  font-weight: 200;
}
/* line 46, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_center p {
  font-weight: 200;
}
/* line 50, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right {
  float: left;
}
/* line 52, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-exposedformsearch-apipage-1 {
  float: left;
}
/* line 55, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right ul.menu--social-media {
  padding: 0;
}
/* line 58, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-socialmedia-2 ul.menu li a {
  padding-right: 5px;
  padding-left: 0px;
}
/* line 66, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.sf-menu {
  float: left;
  width: 100%;
}
/* line 70, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li {
  float: right;
}
/* line 72, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li span {
  border-left: 1px solid #FFF;
  border-right: 0px solid #FFF;
}
/* line 76, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li a {
  border-left: 1px solid #FFF;
  border-right: 0px solid #FFF;
}
/* line 82, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li ul li a, [dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li ul li span {
  border-left: 0px solid #FFF;
}
/* line 91, ../sass/style-rtl.scss */
[dir="rtl"] #slick-views-dynamic-header-block-1-1-slider {
  direction: ltr;
}
/* line 94, ../sass/style-rtl.scss */
[dir="rtl"] .slick-slide {
  float: left;
}
/* line 97, ../sass/style-rtl.scss */
[dir="rtl"] .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
  direction: rtl;
}
/* line 101, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_3 > .container > .col-md-12 #block-views-block-featured-stories-block-1 .view-content .views-field-nothing .cont .overlay-text {
  float: right;
  right: inherit;
  left: 0;
}
/* line 110, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_1 .view .views-row .views-field-title {
  left: inherit;
  right: 85px;
}
/* line 118, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news {
  float: right;
}
/* line 122, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .views-row .views-field-field-image {
  float: right;
  margin-right: 0px;
  margin-left: 15px;
}
/* line 129, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .view-footer a, [dir="rtl"] .front_content_2 .news .view .view-footer a.en {
  display: none;
}
/* line 132, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .view-footer a.ar {
  display: block;
}
/* line 138, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement {
  float: right;
}
/* line 141, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .views-row .views-field-field-date {
  float: right;
  margin-right: 0px;
  margin-left: 23px;
}
/* line 148, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .view-footer a.ar {
  display: block;
}
/* line 151, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .view-footer a.en {
  display: none;
}
/* line 156, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .simplenews {
  float: left;
}
/* line 161, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_4 .left {
  float: right;
}
/* line 164, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_4 .right {
  float: left;
}
/* line 168, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_4 h1.block-title a.ar {
  display: block;
}
/* line 171, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_4 h1.block-title a.en {
  display: none;
}
/* line 176, ../sass/style-rtl.scss */
[dir="rtl"] #footer .footer-left {
  float: right;
}
/* line 179, ../sass/style-rtl.scss */
[dir="rtl"] #footer .footer-left nav ul {
  padding: 0px;
}
/* line 184, ../sass/style-rtl.scss */
[dir="rtl"] #footer .bottom #block-socialmedia {
  float: left;
}
/* line 187, ../sass/style-rtl.scss */
[dir="rtl"] #footer .bottom #block-copyright {
  float: right;
}
/* line 190, ../sass/style-rtl.scss */
[dir="rtl"] #footer .bottom #block-socialmedia ul.menu {
  padding: 0;
}
/* line 193, ../sass/style-rtl.scss */
[dir="rtl"] #footer .bottom #block-socialmedia ul.menu li a {
  padding-right: 5px;
  padding-left: 0px;
}
/* line 200, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-page .bs-region--left,
[dir="rtl"] .page-node-type-announcement .bs-region--left,
[dir="rtl"] .page-node-type-news .bs-region--left {
  float: right;
}
/* line 203, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-page .bs-region--right,
[dir="rtl"] .page-node-type-announcement .bs-region--right,
[dir="rtl"] .page-node-type-news .bs-region--right {
  float: left;
}
/* line 208, ../sass/style-rtl.scss */
[dir="rtl"] #content .left-content {
  float: right;
}
/* line 211, ../sass/style-rtl.scss */
[dir="rtl"] #content .right-content {
  float: left;
}
/* line 215, ../sass/style-rtl.scss */
[dir="rtl"] .path-news-events #content .container > .col-md-9 .view-content .views-row .views-field-nothing .left {
  float: right;
}
/* line 222, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-admission .field--name-field-admission .field--item .bx-wrapper .bx-viewport,
[dir="rtl"] .page-node-type-academics .field--name-field-admission .field--item .bx-wrapper .bx-viewport,
[dir="rtl"] .page-node-type-academics-name .field--name-field-admission .field--item .bx-wrapper .bx-viewport {
  direction: ltr;
}
/* line 228, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-media-gallery #content .slideshow .bx-wrapper .bx-viewport {
  direction: ltr;
}
/* line 232, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-media-gallery #content .slideshow .bx-wrapper {
  float: right;
}
/* line 236, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button:before {
  content: "\e003";
  font-size: 16px;
  color: #969696;
  font-family: 'Glyphicons Halflings';
}
/* line 242, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-exposedformsearch-apipage-1 form .form--inline #edit-actions button {
  top: -4px;
  left: 0;
}
/* line 250, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-webform .header_right form .form-actions button {
  top: -4px;
  left: 0;
}
/* line 254, ../sass/style-rtl.scss */
[dir="rtl"] .page-node-type-webform .header_right form .form-actions button:before {
  content: "\e003";
  font-size: 16px;
  color: #969696;
  font-family: 'Glyphicons Halflings';
}
/* line 265, ../sass/style-rtl.scss */
[dir="rtl"] .path-successive-presidents #content .region-content .bx-wrapper .bx-viewport {
  direction: ltr;
}
/* line 269, ../sass/style-rtl.scss */
[dir="rtl"] .path-presidency #content .region-content .view-content .views-row .views-field-field-image {
  float: right;
  padding-left: 20px;
  padding-right: 0px;
}
/* line 274, ../sass/style-rtl.scss */
[dir="rtl"] .path-presidency #content .region-content .view-content .views-row .views-field-title {
  left: inherit;
  right: 0;
}
/* line 278, ../sass/style-rtl.scss */
[dir="rtl"] #block-views-block-about-aau-block-1 .bx-wrapper .bx-viewport {
  direction: ltr;
}
/* line 281, ../sass/style-rtl.scss */
[dir="rtl"] .view-employees .views-row .views-field-field-image {
  float: right;
  padding-left: 20px;
  padding-right: 0;
}
/* line 286, ../sass/style-rtl.scss */
[dir="rtl"] .view-employees .views-row .views-field-title {
  left: inherit;
  right: 0;
}

/* line 291, ../sass/style-rtl.scss */
header .menu-region #block-mainnavigation ul.menu > li ul li a {
  text-align: right;
}
