/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Feb-2018, 12:47:56
    Author     : lhmeid
*/
@import url("https://fonts.googleapis.com/css?family=Cairo:600,700");
/* line 13, ../sass/style-rtl.scss */
[dir="rtl"] body {
  font-family: 'Cairo', sans-serif;
}
/* line 19, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu {
  float: left;
}
/* line 23, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li {
  border-right: 0px solid #FFF;
  border-left: 1px solid #FFF;
}
/* line 27, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header #block-topmenu ul.nav li:last-child {
  border-left: 0px solid #FFF;
}
/* line 32, ../sass/style-rtl.scss */
[dir="rtl"] header .top-header .language-switcher-language-url {
  float: left;
}
/* line 37, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left {
  float: right;
}
/* line 39, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_left .pull-left {
  float: right !important;
}
/* line 43, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_center {
  float: right;
}
/* line 46, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right {
  float: left;
}
/* line 48, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-exposedformsearch-apipage-1 {
  float: left;
}
/* line 51, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right ul.menu--social-media {
  padding: 0;
}
/* line 54, ../sass/style-rtl.scss */
[dir="rtl"] header .bottom-header .header_right #block-socialmedia-2 ul.menu li a {
  padding-right: 5px;
  padding-left: 0px;
}
/* line 62, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.sf-menu {
  float: left;
  width: 100%;
}
/* line 66, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li {
  float: right;
}
/* line 68, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li span {
  border-left: 1px solid #FFF;
  border-right: 0px solid #FFF;
}
/* line 72, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li a {
  border-left: 1px solid #FFF;
  border-right: 0px solid #FFF;
}
/* line 78, ../sass/style-rtl.scss */
[dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li ul li a, [dir="rtl"] header .menu-region #block-mainnavigation ul.menu > li ul li span {
  border-left: 0px solid #FFF;
}
/* line 87, ../sass/style-rtl.scss */
[dir="rtl"] #slick-views-dynamic-header-block-1-1-slider {
  direction: ltr;
}
/* line 90, ../sass/style-rtl.scss */
[dir="rtl"] .slick-slide {
  float: left;
}
/* line 93, ../sass/style-rtl.scss */
[dir="rtl"] .dynamic_header .block-views .view-content #slick-views-dynamic-header-block-1-1 #slick-views-dynamic-header-block-1-1-slider .slick-list .slick-track .slick__slide .views-field-nothing .slider_conent {
  direction: rtl;
}
/* line 100, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_1 .view .views-row .views-field-title {
  left: inherit;
  right: 85px;
}
/* line 108, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news {
  float: right;
}
/* line 112, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .views-row .views-field-field-image {
  float: right;
  margin-right: 0px;
  margin-left: 15px;
}
/* line 119, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .view-footer a.ar {
  display: block;
}
/* line 122, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .news .view .view-footer a.en {
  display: none;
}
/* line 128, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement {
  float: right;
}
/* line 131, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .views-row .views-field-field-date {
  float: right;
  margin-right: 0px;
  margin-left: 23px;
}
/* line 138, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .view-footer a.ar {
  display: block;
}
/* line 141, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .announcement .view-footer a.en {
  display: none;
}
/* line 146, ../sass/style-rtl.scss */
[dir="rtl"] .front_content_2 .simplenews {
  float: left;
}
